---
title: Book Authors
type: components
module: _includes/components/book-authors.html

authors:
- image: /assets/learning/george.png
  description: |
    Lorem ipsum dolor sit amet.
- image: /assets/learning/guilherme.jpg
  description: |
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quos autem
    veniam libero! Deleniti nemo quas option voluptas voluptatibus sint ratione.
    Id vel error quia ipsam sit saepe hic at amet excepturi ea.
---
{% include components/book-authors.html authors=page.authors %}
