---
title: Book Presenter
type: components
module: _includes/components/book-presenter.html

book:
  cover_image: /assets/learning/crystal_programming.png
  description: |
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quos autem
    veniam libero! Deleniti nemo quas optio voluptas voluptatibus sint ratione.
    Id vel error quia ipsam sit saepe hic at amet excepturi ea.
  details: |
    Voluptas sunt ratione consequatur optio porro eaque nam quod ex illum modi
    id animi fugiat vero explicabo illo officiis assumenda nulla rerum,
    dignissimos sed dicta pariatur quis eum. Beatae ea cumque alias ducimus quos
    maxime sed, modi illum at repellendus, ex deleniti nesciunt tempore placeat
    in accusantium!
  vendors:
  - url: https://www.amazon.com/Crystal-Programming-project-based-introduction-applications/dp/1801818673/ref=sr_1_2
    name: Amazon
  - url: https://www.packtpub.com/product/crystal-programming/9781801818674
    name: Packt
---
{% include components/book-presenter.html book=page.book %}
