---
title: Link Item
type: components
class: wide
---
<div class="link-items" id="news">
  <h3>News</h3>

  <div class="link-item" id="blog">
    {% include icons/rss.svg %}
    <a class="link-item__main" href="/blog">Crystal Blog</a> (<a href="/feed.xml">feed</a>)
    <p>Release announcements, use cases, features and other news from the Crystal team.</p>
  </div>

  <div class="link-item" id="newsletter">
    <a class="link-item__main" href="/newsletter">
      {% include icons/newsletter.svg %}
      Crystal Newsletter
    </a> (<a href="/newsletter/archive">archive</a>)
    <p>Our newsletter regularly shares highlights and insights on the Crystal language and community.</p>
  </div>
</div>
