---
title: Link Item
type: components
class: wide
---
<div class="link-items">
  <h3>News</h3>

  <div class="link-item">
    <a class="link-item__main" href="#">
      {%- include icons/newsletter.svg %}
      Main link
    </a>
  </div>

  <div class="link-item">
    <a class="link-item__main" href="#">
      {%- include icons/rss.svg %}
      Main Link
    </a> (<a href="#">aux link</a>)
    <p>Lorem ipsum dolor sit amet.</p>
  </div>

  <div class="link-item">
    <a href="#">
      {%- include icons/announce.svg %}
      Link without highlight
    </a>
  </div>
</div>
