---
title: Link Actions
type: components
description: |
  A set of links which are displayed together. Attached icons are automatically
  derived from the target URL.
---
<div class="link-actions">
  <a href="https://crystal-lang.org/api/">API Docs</a>
  <a href="https://github.com/crystal-lang/crystal/releases/tag/1.11.1">Changelog</a>
  <a href="https://github.com/crystal-lang/crystal/tree/1.11.1">Source</a>
  <a href="https://example.com/">Nondescript Link</a>
  <a href="#top"><img src="/assets/install/linux.svg" alt=""> Linux</a>
</div>
