---
title: Partner Images
type: components
partner_images2:
- src: /assets/manas-orange.svg
  name: Manas.Tech
  href: https://manas.tech/
- src: /assets/sponsors/84codes.svg
  name: 84codes
  href: https://www.84codes.com/
partner_images3:
- src: /assets/manas-orange.svg
  name: Manas.Tech
  href: https://manas.tech/
- src: /assets/sponsors/84codes.svg
  name: 84codes
  href: https://www.84codes.com/
- src: /assets/sponsors/bright.png
  name: Bright
  href: https://brightsec.com/
---
{% include components/partner-images.html images=page.partner_images2 %}

{% include components/partner-images.html images=page.partner_images3 %}
