---
title: News
page_title: |
  News
  <a class="icon" href="/feed.xml" rel="alternate" title="Newsfeed for Crystal blog posts" aria-label="Blog newsfeed" type="application/atom+xml">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><use href="#icon-rss"></use></svg>
  </a>
excerpt: Blog posts
layout: wide
section: blog
---

<div class="featured-posts">
  {% for post in site.posts limit: 5 %}
  <div class="post-teaser">
    <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>

    {% include posts/meta.html post=post %}

    <div class="excerpt">{{ post.summary | default: post.excerpt | markdownify }}</div>
  </div>
  {% endfor %}
</div>

<hr class="full-width" />

<section>
  <h1>More articles</h1>

  <div class="more-posts">
    {% for post in site.posts offset: 5 %}
    <div class="post-micro-teaser">
      <time class="post-date" pubdate>{{ post.date | date_to_string }}</time>
      <a href="{{post.url}}" class="post-title">{{post.title}}</a>
    </div>
    {% endfor %}
  </div>
</section>
