---
title: News
excerpt: Blog posts
layout: wide
section: blog
---

<div class="featured-posts">
  {% for post in site.posts limit: 5 %}
  <div class="post-teaser">
    <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>

    {% include posts/meta.html post=post %}

    <div class="excerpt">{{ post.summary | default: post.excerpt }}</div>
  </div>
  {% endfor %}
</div>

<hr class="full-width" />

<section>
  <h1>More articles</h1>

  <div class="more-posts">
    {% for post in site.posts offset: 5 %}
    <div class="post-micro-teaser">
      <time class="post-date" pubdate>{{ post.date | date_to_string }}</time>
      <a href="{{post.url}}" class="post-title">{{post.title}}</a>
    </div>
    {% endfor %}
  </div>
</section>
