---
title: News
page_title: |
  News
  <a class="icon" href="/feed.xml" rel="alternate" title="Newsfeed for Crystal blog posts" aria-label="Blog newsfeed" type="application/atom+xml">
    {%- include icons/rss.svg %}
  </a>
excerpt: Blog posts
layout: base
section: blog
---
{%- assign latest_release = site.releases | reverse | first %}

<header class="wide-header">
  <h1>{{ page.page_title | default: page.title | liquify }}</h1>

  <div class="releases-info">
    <strong>Latest release</strong>

    <a href="{{ latest_release.url }}" class="hex">Crystal {{ latest_release.version }}</a>

    <div class="link-actions">
      <a href="/releases/">All release notes</a>
    </div>
  </div>
</header>

{% include posts/recent_news.html extra=true %}

{% include posts/more_articles.html posts=posts %}
