---
title: Install
permalink: /install/
layout: page-wide
---
<style>
  article > main {
    display: flex;
    flex-direction: column;
    gap: var(--block-flow-md);
  }
  article > main > section {
    margin-block-start: 0;
    padding-top: var(--block-flow-md);
  }
  article > main > section:first-of-type {
    padding-top: 0;
  }
  hr {
    display: none;
  }
  .install-panels {
    display: grid;
    column-gap: var(--padding-xs);
    grid-template-columns: [section] 1fr [entries] 6fr;
  }
  .install-panels > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    border-top: 1.4px solid var(--border-color);
    align-items: center;
  }
  .install-panels > *:last-child {
    border-bottom: 1.4px solid var(--border-color);
  }
  .install-panels > * > .content {
    grid-column: section;
    align-self: baseline;
  }
  .install-panels .content > h4 {
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--body-text);
  }
  .install-entries {
    display: grid;
    grid-column: entries;
  }
  .install-entry {
    display: grid;
    grid-template-columns: [title] 6fr [command] 10fr [info] 36px;
    grid-auto-rows: minmax(48px auto);
    column-gap: var(--padding-xs);
    align-items: baseline;
    --link-color: var(--body-text);
    padding: 0.5ch 0;
  }
  .install-entry:not(:first-child) {
    border-top: 1.4px solid var(--border-color);
  }
  .install-entry :any-link {
    color: unset;
  }
  .install-entry > .title {
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr auto 24px;
    align-items: start;
    gap: 12px;
    padding: 6px 8px 6px 12px;
    min-height: 44px;
    height: 100%;
  }
  .install-entry > a.title:after {
    position: relative;
    content: "navigate_next";
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    grid-column: 3;
    bottom: -2px;
  }
  .install-entry > a.title {
    border: 1px var(--border-color-light) solid;
    border-radius: 4px;
    transition: all 0.25s;
  }
  .install-entry > a.title:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.1);
    border-color: transparent;
  }
  .install-entry > a.title:after {
    visibility: visible;
  }
  .install-entry > pre {
    grid-area: command;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    gap: var(--padding-xs);
  }
  .install-entry > pre > code {
    flex: 1;
  }
  .install-entry > pre button {
    border: none;
    height: 24px;
    width: 24px;
    padding: 0;
    color: #999;
    background-color: transparent;
    border-radius: 4px;
    transition: 0.25s all;
    cursor: pointer;
  }
  .install-entry > pre button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .install-entry code {
    border-radius: 4px;
  }
  .install-entry .repo-badge {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
  }
  .install-entry .repo-badge > img[src^="https://repology.org/badge"] {
    filter: invert(49%) saturate(8000%) brightness(120%) contrast(500%) sepia(30%) saturate(75%);
    transition: all 0.25s;
  }
  .install-entry .repo-badge > img[src^="https://repology.org/badge"]:hover {
    filter: invert(49%) saturate(8000%) brightness(120%) contrast(500%) sepia(30%) saturate(75%) brightness(75%);
  }
  .install-entry > p {
    grid-area: command;
    padding: var(--padding-xs);
  }
  .install-entry > .instructions {
    grid-area: instructions;
    justify-self: flex-start;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 85%;
    border: 1px solid currentColor;
    padding: 0 var(--padding-xs);
    margin-top: var(--padding-xs);
    align-content: center;
    align-self: flex-end;
    --link-color: var(--body-text);
    --link-hover-color: var(--light-text);
  }
  .install-entry > .info {
    grid-area: info;
    color: #ccc;
    width: 24px;
    height: 24px;
    transition: 0.25s color;
    position: relative;
    bottom: -8px;
  }
  .install-entry > .info:hover {
    color: #999;
  }

  @media only screen and (max-width: 900px) {
    .install-panels {
      grid-template-columns: 1fr;
    }
    .install-entry {
      padding: calc(var(--padding-xs) * 2) 0;
      grid-column: unset;
      grid-template-columns: 1fr;
      grid-template-columns: 1fr 30px;
      gap: var(--padding-xs);
      grid-template-areas:
        "title title"
        "command info"
        ;
    }
    .install-entry > .title {
      padding-top: 8px;
    }
    .install-entry .repo-badge {
      margin-top: 2px;
    }
  }
</style>

<section id="linux">
  <h2>Linux</h2>
  <div class="content">
    <p>
      Many Linux distribution have Crystal available in their system packages.
      It might be some older version though. Third party package managers can be
      more up to date.
      DEB and RPM packages of the most recent release are available in our own package
      repository.
    </p>
  </div>
  <div class="install-panels">
    <div>
      <div class="content">
        <h4>Crystal</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <a href="on_linux#installer" title="Instructions for Linux installer" class="title">
            Installer (DEB &amp; RPM)
          </a>
          <pre>
            <code>curl -fsSL https://crystal-lang.org/install.sh | sudo bash</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://build.opensuse.org/project/show/devel:languages:crystal" title="Crystal repository on OBS" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <a href="from_targz/" class="title">Tarball</a>
          <p>
            Archive in <a href="https://github.com/crystal-lang/crystal/releases">the latest release</a>.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="content">
        <h4>System</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">
            APT (Debian, Ubuntu, etc.)
            {% include elements/repology_badge.html repo="debian_unstable/crystal-lang" %}
          </span>
          <pre>
            <code>apt install crystal</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://packages.debian.org/sid/source/crystal" title="Crystal package in Debian sid/unstable" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <span class="title">
            Apk (Alpine Linux)
            {% include elements/repology_badge.html repo="alpine_edge/crystal-lang" %}
          </span>
          <pre>
            <code>apk add crystal shards</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://pkgs.alpinelinux.org/packages?name=crystal" title="Crystal package on Alpine Linux package index" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <span class="title">
            Pacman (Arch Linux)
            {% include elements/repology_badge.html repo="arch/crystal-lang" %}
          </span>
          <pre>
            <code>pacman -S crystal shards</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://archlinux.org/packages/extra/x86_64/crystal/" title="Crystal package on Arch Linux package index" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <a href="on_gentoo_linux/" class="title">
            Emerge (Gentoo)
            {% include elements/repology_badge.html repo="gentoo/crystal-lang" %}
          </a>
          <pre>
            <code>emerge -a dev-lang/crystal</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://packages.gentoo.org/packages/dev-lang/crystal" title="Crystal package on Gentoo package index" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
    <div>
      <div class="content">
        <h4>Community</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">
            Homebrew/Linuxbrew
            {% include elements/repology_badge.html repo="homebrew/crystal-lang" %}
          </span>
          <pre>
            <code>brew install crystal</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://formulae.brew.sh/formula/crystal" title="Crystal package on Homebrew" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <a href="from_asdf" class="title">asdf</a>
          <pre>
            <code>asdf plugin add crystal
            asdf install crystal latest
            </code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://github.com/asdf-community/asdf-crystal" title="Crystal plugin for ASDF on GitHub" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <a href="from_snapcraft/" class="title">
            Snapcraft
          </a>
          <pre>
            <code>snap install crystal --classic</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://snapcraft.io/crystal" title="Crystal on Snapcraft" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <span class="title">
            Nix
            {% include elements/repology_badge.html repo="nix_unstable/crystal-lang" %}
          </span>
          <p><code>crystal</code> package.</p>
          <a href="https://search.nixos.org/packages?show=crystal&channel=unstable&from=0&size=50&sort=relevance&type=packages&query=crystal" title="Crystal on Nix package search" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="macos">
  <h2>MacOS</h2>
  <div class="install-panels">
    <div>
      <div class="content">
        <h4>Crystal</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <a href="from_targz/" class="title">Tarball</a>
          <p>Archive in the <a href="https://github.com/crystal-lang/crystal/releases">the latest release</a>.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="content">
        <h4>Community</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">
            Homebrew
            {% include elements/repology_badge.html repo="homebrew/crystal-lang" %}
          </span>
          <pre>
            <code>brew install crystal</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://formulae.brew.sh/formula/crystal" title="Crystal package on Homebrew" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <a href="from_asdf" class="title">asdf</a>
          <pre>
            <code>asdf plugin add crystal
            asdf install crystal latest
            </code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://github.com/asdf-community/asdf-crystal" title="Crystal plugin for ASDF on GitHub" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <span class="title">
            Nix
            {% include elements/repology_badge.html repo="nix_unstable/crystal-lang" %}
          </span>
          <p><code>crystal</code> package.</p>
          <a href="https://search.nixos.org/packages?show=crystal&channel=unstable&from=0&size=50&sort=relevance&type=packages&query=crystal" title="Crystal on Nix package search" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <span class="title">
            MacPorts
            {% include elements/repology_badge.html repo="macports/crystal-lang" %}
          </span>
          <pre>
            <code>port install crystal</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://ports.macports.org/port/crystal/summary/" title="Crystal port on MacPorts package index" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="windows">
  <h2>Windows (preview)</h2>
  <div class="content">
    <p>Windows support is currently a preview and <a href="https://github.com/crystal-lang/crystal/issues/5430">not yet complete</a>.</p>
  </div>
  <div class="install-panels">
    <div>
    <div class="content">
      <h4>Crystal</h4>
    </div>
      <div class="install-entries">
        <div class="install-entry">
          <a href="on_windows" class="title">Installer</a>
          <p>
            Installer (<code>.exe</code>) in <a href="https://github.com/crystal-lang/crystal/releases">the latest release</a>.
          </p>
        </div>
        <div class="install-entry">
          <a href="on_windows" class="title">Portable Archive</a>
          <p>
            Archive (<code>.zip</code>) in <a href="https://github.com/crystal-lang/crystal/releases">the latest release</a>.
          </p>
        </div>
      </div>
    </div>
    <div>
    <div class="content">
      <h4>Community</h4>
    </div>
      <div class="install-entries">
        <div class="install-entry">
          <a href="from_scoop" class="title">
            Scoop
            {% include elements/repology_badge.html repo="winget/crystal-lang" %}
          </a>
          <pre>
            <code>scoop install git
            scoop bucket add crystal-preview https://github.com/neatorobito/scoop-crystal
            scoop install vs_2022_cpp_build_tools crystal
            </code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://github.com/neatorobito/scoop-crystal" title="Scoop repository for Crystal on GitHub" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <span class="title">WinGet</span>
          <a href="https://github.com/microsoft/winget-pkgs/tree/master/manifests/c/CrystalLang/Crystal/" title="Crystal manifest in WinGet packages repository" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="freebsd">
  <h2>FreeBSD</h2>

  <div class="install-panels install-panels--single">
    <div>
      <div class="content">
        <h4>System</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <a href="on_freebsd/#install-package" class="title">Package</a>
          <pre>
            <code>sudo pkg install -y crystal shards</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
        </div>
        <div class="install-entry">
          <a href="on_freebsd/#install-port" class="title">
            Port
            {% include elements/repology_badge.html repo="freebsd/crystal-lang" %}
          </a>
          <pre>
            <code>sudo make -C/usr/ports/lang/crystal reinstall clean
            sudo make -C/usr/ports/devel/shards reinstall clean
            </code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://www.freshports.org/lang/crystal" title="Crystal port on Freshports.org" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="openbsd">
  <h2>OpenBSD</h2>
  <div class="install-panels install-panels--single">
    <div>
      <div class="content">
        <h4>System</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">
            <a href="on_openbsd/#install-package">Package</a>
            {% include elements/repology_badge.html repo="openbsd/crystal-lang" %}
          </span>
          <pre>
            <code>doas pkg_add crystal</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
        </div>
        <div class="install-entry">
          <a href="on_openbsd/#install-port" class="title">Port</a>
          <pre>
            <code>doas make -C/usr/ports/lang/crystal clean install</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://openports.pl/path/lang/crystal" title="Crysta port on openports.pl" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="full-width">

<section id="android">
  <h2>Android</h2>
  <div class="install-panels install-panels--single">
    <div>
      <div class="content">
        <h4>Community</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <a href="on_termux/" class="title">
            Termux
            {% include elements/repology_badge.html repo="termux/crystal-lang" %}
          </a>
          <pre>
            <code>pkg install crystal</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://github.com/termux/termux-packages/tree/master/packages/crystal" title="Crystal package manifest in the Termux package repository on GitHub" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="other">
  <h2>Developer Tools</h2>
  <div class="install-panels">
    <div>
      <div class="content">
        <h4>Crystal</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">Docker</span>
          <pre>
            <code>docker pull crystallang/crystal</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://hub.docker.com/r/crystallang/crystal/" title="Crystal image on Docker Hub" class="info material-symbols-outlined">info</a>
        </div>
        <div class="install-entry">
          <a href="https://crystal-lang.github.io/install-crystal/" class="title">
            GitHub Actions
          </a>
          </span>
          <pre>
            <code>- uses: crystal-lang/install-crystal@v1</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://github.com/crystal-lang/install-crystal" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
    <div>
      <div class="content">
        <h4>Community</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">devenv.sh</span>
          <pre>
            <code>languages.crystal.enable = true</code>
            <button class="material-symbols-outlined" onclick="javascript:copy(event);">content_copy</button>
          </pre>
          <a href="https://devenv.sh/reference/options/#languagescrystalenable" class="info material-symbols-outlined">info</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Nightly builds</h2>

  <a href="nightlies">Instructions</a>
</section>

<section id="from_source" class="content">
  <h2>Building from Source</h2>
  <p>
    The Crystal compiler is self-hosted, so in order to build it you need a Crystal compiler.
    Hence from source installation is not an ideal way to get Crystal in the first place.
    However it is possible to bootstrap from a different platform through cross-compiling.
  </p>
  <a href="from_sources">Instructions</a>
</section>

<section>
  <h2>Getting Started</h2>
  <a href="https://crystal-lang.org/reference/getting_started/">Get Started</a>
</section>

<section>
  <a href="https://repology.org/project/crystal-lang/versions">Crystal on Repology</a>
</section>
<script>
  const copy = async (e) => {
    const command = e.target.parentNode.querySelector("code").textContent;
    try {
      await navigator.clipboard.writeText(command);
      console.log('Content copied to clipboard');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
/*function getOS() {
  const userAgent = window.navigator.userAgent,
      platform = window.navigator?.userAgentData?.platform || window.navigator.platform,
      macosPlatforms = ['macOS', 'Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
      windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
      iosPlatforms = ['iPhone', 'iPad', 'iPod'];
  let os = null;

  if (macosPlatforms.indexOf(platform) !== -1) {
    os = 'MacOS';
  } else if (iosPlatforms.indexOf(platform) !== -1) {
    os = 'iOS';
  } else if (windowsPlatforms.indexOf(platform) !== -1) {
    os = 'Windows';
  } else if (/Android/.test(userAgent)) {
    os = 'Android';
  } else if (/Linux/.test(platform)) {
    os = 'Linux';
  } else if (/FreeBSD/.test(platform)) {
    os = 'FreeBSD';
  } else if (/OpenBSD/.test(platform)) {
    os = 'OpenBSD';
  }

  return os;
}

document.addEventListener("DOMContentLoaded", function() {
  const elem = document.getElementById(getOS().toLowerCase());
  elem.dataset.current_os = true;
});*/
</script>
