---
title: Install
permalink: /install/
layout: page-wide
---
<style>
  article > main {
    display: flex;
    flex-direction: column;
  }
  article > main > section {
    padding-top: var(--block-flow-md);
    margin-top: var(--block-flow-md);
  }
  article > main > section:not([data-current_os])::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: calc(-1 * var(--block-flow-md));
    border-top: 1px solid var(--border-color);
  }
  article > main > section[data-current_os] {
    order: -1;
  }

  hr {
    display: none;
  }
  .install-panels {
    display: grid;
    column-gap: var(--padding-xs);
    grid-template-columns: [section] 18ch [title] minmax(20ch, 1fr) [version] 4ch [command] 2fr [info] 2.5ch [end];
  }
  .install-panels > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    border-top: 1.4px solid var(--border-color);
    align-items: baseline;
  }
  .install-panels > * > .content {
    grid-column: section;
  }
  .install-panels .content > h4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--body-text);
  }
  .install-entries {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: title / end;
  }
  img[src^="https://repology.org/badge"] {
    /*opacity: 0.7;*/
    display: inline-block;
    vertical-align: sub;
    filter: saturate(2) contrast(2) sepia(0.6);
    /*filter: saturate(5) contrast(0.85) brightness(0.95);*/
  }
  img[src^="https://repology.org/badge"]:hover {
    opacity: 1;
  }
  .install-entry {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-areas:
    "title version command info";
    grid-column: 1 / -1;
    --link-color: var(--body-text);
    align-items: baseline;
    padding: 0.5ch 0;
  }
  .install-entry:not(:first-child) {
    border-top: 1.4px solid var(--border-color);
  }
  .install-entry :any-link {
    text-decoration: underline;
    text-decoration-thickness: 1.4px;
  }
  .install-entry  > .title {
    grid-area: title;
  }
  .install-entry  > pre {
      grid-area: command;
      padding: var(--padding-xs);
      margin: calc(var(--padding-xs) / -2) 0;
    }
    .install-entry  > .repo-badge {
      grid-area: version;
      justify-self: flex-end;
    }
    .install-entry > p {
      grid-area: command;
      padding: calc(var(--padding-xs) * 0.6);
    }
    .install-entry > .instructions {
      grid-area: instructions;
      justify-self: flex-start;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 85%;
      /*---.btn */
      border: 1px solid currentColor;
      padding: 0 var(--padding-xs);
      margin-top: var(--padding-xs);
      align-content: center;
      align-self: flex-end;
      --link-color: var(--body-text);
      --link-hover-color: var(--light-text);
    }
    .install-entry > .info {
      grid-area: info;
      font-size: 90%;
      justify-self: flex-end;
      --link-color: var(--lighter-text);
      --link-hover-color: var(--light-text);
    }


  /*img[src^="https://repology.org/badge"]:hover {
    opacity: 1;
  }*/
</style>

<section id="linux">
  <h2>Linux</h2>
  <div class="content">
    <p>
      Many Linux distribution have Crystal available in their system packages.
      It might be some older version though. Third party package managers can be
      more up to date.
      DEB and RPM packages of the most recent release are available in our own package
      repository.
    </p>
  </div>
  <div class="install-panels">
    <div>
      <div class="content">
        <h4>Crystal</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title"><a href="on_linux#installer" title="Instructions for Linux installer">Installer (DEB &amp; RPM)</a></span>
          <pre><code>curl -fsSL https://crystal-lang.org/install.sh | sudo bash</code></pre>
          <a href="https://build.opensuse.org/project/show/devel:languages:crystal" title="Crystal repository on OBS" class="info">{% include icons/info.svg %}</a>
        </div>
        <div class="install-entry">
          <span class="title"><a href="from_targz/">Tarball</a></span>
          <p>
            Archive in <a href="https://github.com/crystal-lang/crystal/releases">the latest release</a>.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="content">
        <h4>System</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">APT (Debian, Ubuntu, etc.)</span>
          <pre><code>apt install crystal</code></pre>
          <a href="https://packages.debian.org/sid/source/crystal" title="Crystal package in Debian sid/unstable" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="debian_unstable/crystal-lang" %}
        </div>
        <div class="install-entry">
          <span class="title">Apk (Alpine Linux)</span>
          <pre><code>apk add crystal shards</code></pre>
          <a href="https://pkgs.alpinelinux.org/packages?name=crystal" title="Crystal package on Alpine Linux package index" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="alpine_edge/crystal-lang" %}
        </div>
        <div class="install-entry">
          <span class="title">Pacman (Arch Linux)</span>
          <pre><code>pacman -S crystal shards</code></pre>
          <a href="https://archlinux.org/packages/extra/x86_64/crystal/" title="Crystal package on Arch Linux package index" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="arch/crystal-lang" %}
        </div>
        <div class="install-entry">
          <span class="title"><a href="on_gentoo_linux/">Emerge (Gentoo)</a></span>
          <pre><code>emerge -a dev-lang/crystal</code></pre>
          <a href="https://packages.gentoo.org/packages/dev-lang/crystal" title="Crystal package on Gentoo package index" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="gentoo/crystal-lang" %}
        </div>
      </div>
    </div>
    <div>
      <div class="content">
        <h4>Community</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">Homebrew/Linuxbrew</span>
          <pre><code>brew install crystal</code></pre>
          <a href="https://formulae.brew.sh/formula/crystal" title="Crystal package on Homebrew" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="homebrew/crystal-lang" %}
        </div>
        <div class="install-entry">
          <span class="title"><a href="from_asdf">asdf</a></span>
          <pre><code>asdf plugin add crystal
            asdf install crystal latest
          </code></pre>
          <a href="https://github.com/asdf-community/asdf-crystal" title="Crystal plugin for ASDF on GitHub" class="info">{% include icons/info.svg %}</a>
        </div>
        <div class="install-entry">
          <span class="title"><a href="from_snapcraft/">Snapcraft</a></span>
          <pre><code>snap install crystal --classic</code></pre>
          <a href="https://snapcraft.io/crystal" title="Crystal on Snapcraft" class="info">{% include icons/info.svg %}</a>
        </div>
        <div class="install-entry">
          <span class="title">Nix</span>
          <p><code>crystal</code> package.</p>
          <a href="https://search.nixos.org/packages?show=crystal&channel=unstable&from=0&size=50&sort=relevance&type=packages&query=crystal" title="Crystal on Nix package search" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="nix_unstable/crystal-lang" %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="macos">
  <h2>MacOS</h2>
  <div class="install-panels">
    <div>
      <div class="content">
        <h4>Crystal</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
        <span class="title"><a href="from_targz/">Tarball</a></span>

          <p>Archive in the <a href="https://github.com/crystal-lang/crystal/releases">the latest release</a>.</p>
        </div>
      </div>
    </div>
    <div>
      <div class="content">
        <h4>Community</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
        <span class="title">Homebrew</span>
          <pre><code>brew install crystal</code></pre>
          <a href="https://formulae.brew.sh/formula/crystal" title="Crystal package on Homebrew" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="homebrew/crystal-lang" %}
        </div>
        <div class="install-entry">
        <span class="title"><a href="from_asdf">asdf</a></span>
          <pre><code>asdf plugin add crystal
            asdf install crystal latest</code></pre>
          <a href="https://github.com/asdf-community/asdf-crystal" title="Crystal plugin for ASDF on GitHub" class="info">{% include icons/info.svg %}</a>
        </div>
        <div class="install-entry">
        <span class="title">Nix</span>
          <p><code>crystal</code> package.</p>
          <a href="https://search.nixos.org/packages?show=crystal&channel=unstable&from=0&size=50&sort=relevance&type=packages&query=crystal" title="Crystal on Nix package search" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="nix_unstable/crystal-lang" %}
        </div>
        <div class="install-entry">
        <span class="title">MacPorts</span>
          <pre><code>port install crystal</code></pre>
          <a href="https://ports.macports.org/port/crystal/summary/" title="Crystal port on MacPorts package index" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="macports/crystal-lang" %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="windows">
  <h2>Windows (preview)</h2>
  <div class="content">
    <p>Windows support is currently a preview and <a href="https://github.com/crystal-lang/crystal/issues/5430">not yet complete</a>.</p>
  </div>
  <div class="install-panels">
    <div>
    <div class="content">
      <h4>Crystal</h4>
    </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title"><a href="on_windows">Installer</a></span>
          <p>
            Installer (<code>.exe</code>) in <a href="https://github.com/crystal-lang/crystal/releases">the latest release</a>.
          </p>
        </div>
        <div class="install-entry">
          <span class="title"><a href="on_windows">Portable Archive</a></span>
          <p>
            Archive (<code>.zip</code>) in <a href="https://github.com/crystal-lang/crystal/releases">the latest release</a>.
          </p>
        </div>
      </div>
    </div>
    <div>
    <div class="content">
      <h4>Community</h4>
    </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title"><a href="from_scoop">Scoop</a></span>
          <pre><code>scoop install git
            scoop bucket add crystal-preview https://github.com/neatorobito/scoop-crystal
            scoop install vs_2022_cpp_build_tools crystal
          </code></pre>
          <a href="https://github.com/neatorobito/scoop-crystal" title="Scoop repository for Crystal on GitHub" class="info">{% include icons/info.svg %}</a>
        </div>
        <div class="install-entry">
          <span class="title">WinGet</span>
          <a href="https://github.com/microsoft/winget-pkgs/tree/master/manifests/c/CrystalLang/Crystal/" title="Crystal manifest in WinGet packages repository" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="winget/crystal-lang" %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="freebsd">
  <h2>FreeBSD</h2>

  <div class="install-panels install-panels--single">
    <div>
      <div class="content">
        <h4>System</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title"><a href="on_freebsd/#install-package">Package</a></span>
          <pre><code>sudo pkg install -y crystal shards</code></pre>
        </div>
        <div class="install-entry">
          <span class="title"><a href="on_freebsd/#install-port">Port</a></span>
          <pre><code>sudo make -C/usr/ports/lang/crystal reinstall clean
            sudo make -C/usr/ports/devel/shards reinstall clean
          </code></pre>
          <a href="https://www.freshports.org/lang/crystal" title="Crystal port on Freshports.org" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="freebsd/crystal-lang" %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="openbsd">
  <h2>OpenBSD</h2>
  <div class="install-panels install-panels--single">
    <div>
      <div class="content">
        <h4>System</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title"><a href="on_openbsd/#install-package">Package</a></span>
          <pre><code>doas pkg_add crystal</code></pre>
        </div>
        <div class="install-entry">
          <span class="title"><a href="on_openbsd/#install-port">Port</a></span>
          <pre><code>doas make -C/usr/ports/lang/crystal clean install</code></pre>
          <a href="https://openports.pl/path/lang/crystal" title="Crysta port on openports.pl" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="openbsd/crystal-lang" %}
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="full-width">

<section id="android">
  <h2>Android</h2>
  <div class="install-panels install-panels--single">
    <div>
      <div class="content">
        <h4>Community</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title"><a href="on_termux/">Termux</a></span>
          <pre><code>pkg install crystal</code></pre>
          <a href="https://github.com/termux/termux-packages/tree/master/packages/crystal" title="Crystal package manifest in the Termux package repository on GitHub" class="info">{% include icons/info.svg %}</a>
          {% include elements/repology_badge.html repo="termux/crystal-lang" %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="other">
  <h2>Developer Tools</h2>
  <div class="install-panels">
    <div>
      <div class="content">
        <h4>Crystal</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">Docker</span>
          <pre><code>docker pull crystallang/crystal</code></pre>
          <a href="https://hub.docker.com/r/crystallang/crystal/" title="Crystal image on Docker Hub" class="info">{% include icons/info.svg %}</a>
        </div>
        <div class="install-entry">
          <span class="title"><a href="https://crystal-lang.github.io/install-crystal/">GitHub Actions</a></span>
          <pre><code>- uses: crystal-lang/install-crystal@v1</code></pre>
          <a href="https://github.com/crystal-lang/install-crystal" class="info">{% include icons/info.svg %}</a>
        </div>
      </div>
    </div>
    <div>
      <div class="content">
        <h4>Community</h4>
      </div>
      <div class="install-entries">
        <div class="install-entry">
          <span class="title">devenv.sh</span>
          <pre><code>languages.crystal.enable = true</code></pre>
          <a href="https://devenv.sh/reference/options/#languagescrystalenable" class="info">{% include icons/info.svg %}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Nightly builds</h2>

  <a href="nightlies">Instructions</a>
</section>

<section id="from_source" class="content">
  <h2>Building from Source</h2>
  <p>
    The Crystal compiler is self-hosted, so in order to build it you need a Crystal compiler.
    Hence from source installation is not an ideal way to get Crystal in the first place.
    However it is possible to bootstrap from a different platform through cross-compiling.
  </p>
  <a href="from_sources">Instructions</a>
</section>

<section>
  <h2>Getting Started</h2>
  <a href="https://crystal-lang.org/reference/getting_started/">Get Started</a>
</section>

<section>
  <a href="https://repology.org/project/crystal-lang/versions">Crystal on Repology</a>
</section>
<script>
/*function getOS() {
  const userAgent = window.navigator.userAgent,
      platform = window.navigator?.userAgentData?.platform || window.navigator.platform,
      macosPlatforms = ['macOS', 'Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
      windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
      iosPlatforms = ['iPhone', 'iPad', 'iPod'];
  let os = null;

  if (macosPlatforms.indexOf(platform) !== -1) {
    os = 'MacOS';
  } else if (iosPlatforms.indexOf(platform) !== -1) {
    os = 'iOS';
  } else if (windowsPlatforms.indexOf(platform) !== -1) {
    os = 'Windows';
  } else if (/Android/.test(userAgent)) {
    os = 'Android';
  } else if (/Linux/.test(platform)) {
    os = 'Linux';
  } else if (/FreeBSD/.test(platform)) {
    os = 'FreeBSD';
  } else if (/OpenBSD/.test(platform)) {
    os = 'OpenBSD';
  }

  return os;
}

document.addEventListener("DOMContentLoaded", function() {
  const elem = document.getElementById(getOS().toLowerCase());
  elem.dataset.current_os = true;
});*/
</script>
