---
title: External resources
description: Here is a collection of learning material from third parties that might help you master the language.
section: docs
---
<div class="container">

{% include community_row.html
  title="Crystal Programming"
  divId="crystalProgramming"
  content="Crystal Programming is a project-based book by George Dietrich and Guilherme Bernal that covers all the fundamental concepts needed to start programming in Crystal, such as OOP and concurrent programming."
  link_text="Crystal Programming"
  url="./crystal_programming/"
  icon="book"
%}

{% include community_row.html
  title="Crystal for Rubyists"
  divId="crystal4Rubyists"
  content="If you know Ruby, you are just a few steps from learning Crystal. From Core Team Member and Kemal creator Serdar Dogruyol comes this guide that will help you to transition from Ruby to Crystal."
  link_text="Crystal for Rubyists"
  url="https://www.crystalforrubyists.com/"
  icon="book"
%}

{% include community_row.html
  title="Exercism Crystal track"
  divId="exercism"
  content="Get your hands on Crystal with a series of exercises, and compare your solution to that of the many members who tried already."
  link_text="exercism/crystal"
  url="https://exercism.org/tracks/crystal/"
  icon="link"
%}

</div>
