@mixin link-with-icon-base {
  display: flex;
  align-items: center;

  &::before,
  > img {
    width: 1.3em;
    height: 1.3em;
    background-repeat: no-repeat;
    object-fit: contain;
    margin-inline-end: var(--padding-xxs);
  }

  &:hover {
    &::before,
    > img {
      opacity: 0.72;
    }
  }
}

@mixin link-with-icon-href($href, $url) {
  &[href^="#{$href}"]::before {
    content: "";
    background-image: #{$url};
  }
}

@mixin link-with-icon($image) {
  @include link-with-icon-base();

  &:before {
    content: "";
    background-image: $image;
  }
}
