@mixin link-with-icon-base {
  display: flex;
  align-items: center;

  &::before,
  > img {
    width: 1.3em;
    aspect-ratio: 1;
    object-fit: contain;
    margin-inline-end: var(--padding-xxs);
  }
  &:hover {
    &:before,
    img {
      opacity: 0.7;
    }
  }
  > img {
    @media (prefers-color-scheme: dark) {
      filter: #{"invert()"};
    }
  }
  &::before {
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-image: var(--link-icon);
    mask-image: var(--link-icon);
  }
}

@mixin link-with-icon-href($href, $image) {
  &[href^="#{$href}"]:not(:has(> img))::before {
    content: "";
    --link-icon: #{$image};
  }
}

@mixin link-with-icon($image) {
  @include link-with-icon-base();

  &:before {
    content: "";
    --link-icon: #{$image};
  }
}
