@mixin link-with-icon-structure {
  display: flex;
  align-items: center;

  &::before,
  > img {
    display: inline-block;
    width: 1.3em;
    aspect-ratio: 1;
    margin-inline-end: var(--padding-xxs);
  }
  &:hover {
    img {
      opacity: 0.7;
    }
  }
  > img {
    object-fit: contain;
    @media (prefers-color-scheme: dark) {
      filter: #{"invert()"};
    }
  }
}

@mixin link-with-icon-base {
  @include link-with-icon-structure;

  &::before {
    background-color: currentColor;
    -webkit-mask: var(--link-icon) center / contain no-repeat;
    mask: var(--link-icon) center / contain no-repeat;
  }

  &:not(:hover) > img {
    filter: #{"grayscale()"};
  }
}

@mixin link-with-colored-icon-base {
  @include link-with-icon-structure;

  &::before {
    background: var(--link-icon) center / contain no-repeat;
  }
}

@mixin link-with-icon-href($href, $image) {
  &[href^="#{$href}"]:not(:has(> img))::before {
    content: "";
    --link-icon: #{$image};
  }
}

@mixin link-with-icon($image) {
  @include link-with-icon-base();

  &:before {
    content: "";
    --link-icon: #{$image};
  }
}
