name: The Crystal Programming Language
description: A compiled language with Ruby like syntax and type inference
url: https://crystal-lang.org
logo: /images/crystal-h.png
defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      image: /images/icon.png
      layout: default
  -
    scope:
      path: ""
      type: posts
    values:
      image: /images/icon.png
      layout: post
      is_post: true
twitter:
  username: CrystalLanguage

highlighter: rouge
markdown: kramdown
exclude: ["Gemfile", "Gemfile.lock", "Rakefile", "*.haml", "scripts/*.cr", "vendor", "docker-compose.yml"]
plugins:
  - jekyll-seo-tag
  - jekyll-assets
  - jekyll-timeago

google_calendar_api_key: 'AIzaSyCv-2Npqm0mwmwVCKX8xDPhwtP_8HwCWCE'
google_calendar_id: '0s0pa4k3fov71e4itn79atlmeg@group.calendar.google.com'
