name: The Crystal Programming Language
description: A language for humans and computers
url: https://crystal-lang.org
logo: /assets/media/crystal_logo.svg

future: true

collections:
  releases:
    output: true
  style_guide:
    output: false

defaults:

  # This is a duplication of the next scope, but with index file name.
  # It ensures that index files are treated as a directory index, and generate sub paths.
  -
    scope:
      path: "**/index{.html,.md}"
      type: pages
    values:
      image: /assets/icon.png
      layout: page
      permalink: /:path/
  -
    scope:
      path: "**/*{.html,.md}"
      type: pages
    values:
      image: /assets/icon.png
      layout: page
      permalink: /:path/:basename/
  -
    scope:
      path: ""
      type: posts
    values:
      image: /assets/icon.png
      layout: post
      permalink: /:year/:month/:day/:title
      is_post: true
  -
    scope:
      path: "install"
      type: pages
    values:
      image: /assets/icon.png
      layout: install
      permalink: /install/:basename/

  - scope:
      path: ""
      type: releases
    values:
      layout: post
      permalink: /:year/:month/:day/:title
      image: /assets/icon.png

twitter:
  username: CrystalLanguage

exclude:
- "*.nix"
- docker-compose.yml
- docker-compose.*.yml
- Gemfile
- Gemfile.lock
- Makefile
- Rakefile
- README.md
- /scripts/
- vendor
- netlify.toml

highlighter: rouge
markdown: kramdown
kramdown:
  syntax_highlighter_opts:
    default_lang: crystal
    block:
      css_class: code_section

repository: crystal-lang/crystal-website
