name: The Crystal Programming Language
description: A compiled language with Ruby like syntax and type inference
url: https://crystal-lang.org
logo: /assets/media/crystal_logo.svg

future: true

collections:
  releases:
    output: true

defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      image: /assets/icon.png
      layout: page
  -
    scope:
      path: ""
      type: posts
    values:
      image: /assets/icon.png
      layout: post
      is_post: true
  -
    scope:
      path: "install"
      type: pages
    values:
      image: /assets/icon.png
      layout: install
      permalink: /install/:basename/
  - scope:
      path: ""
      type: releases
    values:
      layout: post
      permalink: /:year/:month/:day/:title.html
      image: /assets/icon.png

twitter:
  username: CrystalLanguage

exclude:
- "*.haml"
- "*.nix"
- docker-compose.yml
- docker-compose.*.yml
- Gemfile
- Gemfile.lock
- Makefile
- Rakefile
- README.md
- scripts/*.cr
- vendor

highlighter: rouge
markdown: kramdown
kramdown:
  syntax_highlighter_opts:
    default_lang: crystal
    block:
      css_class: code_section

google_calendar_api_key: 'AIzaSyCv-2Npqm0mwmwVCKX8xDPhwtP_8HwCWCE'
google_calendar_id: '0s0pa4k3fov71e4itn79atlmeg@group.calendar.google.com'
