title: The Crystal Programming Language
tagline: A language for humans and computers
url: https://crystal-lang.org
logo: /assets/media/crystal_logo.svg

future: true

collections:
  releases:
    output: true
  style_guide:
    output: false
  events:
    output: true
  pages:
    output: true
    permalink: /:path/
  samples:
    output: false

defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      layout: page
      section: unspecified
  -
    scope:
      path: ""
      type: posts
    values:
      layout: post
      permalink: /:year/:month/:day/:title/
      is_post: true
      section: posts
  -
    scope:
      path: "_pages/install"
      type: pages
    values:
      layout: install
      section: install

  - scope:
      path: ""
      type: releases
    values:
      layout: release
      permalink: /:year/:month/:day/:title/
      section: releases
  -
    scope:
      path: ""
      type: events
    values:
      layout: event
      permalink: /events/:title/
      section: events
      class: release
  - scope:
      path: ""
      type: samples
    values:
      playground: true

twitter:
  username: CrystalLanguage

social:
  name: Crystal Language
  links:
  - https://fosstodon.org/@CrystalLanguage
  - https://github.com/crystal-lang

exclude:
- "*.nix"
- "devenv*"
- docker-compose.yml
- docker-compose.*.yml
- Gemfile
- Gemfile.lock
- Makefile
- Rakefile
- README.md
- /scripts/
- vendor
- netlify.toml

sass:
  style: compressed

highlighter: rouge
markdown: kramdown
kramdown:
  syntax_highlighter_opts:
    default_lang: crystal
    block:
      css_class: code_section

repository: crystal-lang/crystal-website

callouts: ["INFO", "NOTE", "THANKS", "WARNING"]

relative_links:
  enabled:     true
  collections: true
