---
title: Documentation
description:
permalink: /docs/
---
<div class="container">

{% include community_row.html
          title="Language Reference"
          divId="language-reference"
          content="Documentation of the Crystal language and compiler features."
          link_text="crystal-lang.org/reference"
          url="https://crystal-lang.org/reference"
          icon="menu_book"
%}

{% include community_row.html
          title="API Docs"
          divId="api"
          content="Documentation for the Crystal standard-library."
          link_text="crystal-lang.org/api"
          url="https://crystal-lang.org/api"
          icon="explore"
%}

{% include community_row.html
          title="Installation instructions"
          divId="install"
          content="Installation instructions for Crystal."
          link_text="crystal-lang.org/install"
          url="/install"
          icon="get_app"
%}

{% include community_row.html
          title="Media"
          divId="media"
          content="Logos and style guide."
          link_text="crystal-lang.org/media"
          url="/media"
          icon="palette"
%}

{% include community_row.html
          title="Developer Wiki"
          divId="developer-wiki"
          content="Developer resources."
          link_text="GitHub Wiki"
          url="https://github.com/crystal-lang/crystal/wiki"
          icon="github"
          custom_icon="true"
%}

{% include community_row.html
          title="Shards documentation"
          divId="shards"
          content="Documentation for official shards."
          link_text="crystal-db"
          url="http://crystal-lang.github.io/crystal-db/api/latest/"
          icon="apps"
%}
