---
title: Crystal
nav_title: Home
nav_order: 1
subtitle: Fast as C, slick as Ruby
custom_body_classes:
  - main
---
<div class='row'>
  <h1>Syntax</h1>
  <div class='code_section'>
    {% include sample_code.md %}
  </div>
</div>
<div class='row sponsors'>
  <h1>Crystal top Sponsors</h1>
  <div class='sponsors-list'>
    <a href='https://manas.tech/' target='_blank'>
      <img src='/images/sponsors/manas.png' title='Manas'>
      <br>
      Manas Technology Solutions
    </a>
    <a href='http://www.protel.com.tr' target='_blank'>
      <img src='/images/sponsors/protel.png' title='Protel'>
      <br>
      Protel
      <br>
    </a>
    <a href='https://openredis.com' target='_blank'>
      <img src='/images/sponsors/openredis.png' title='openredis'>
      <br>
      openredis
      <br>
    </a>
  </div>
  <div class='footer'>
    <a class='all-sponsors' href='/sponsors'>Meet all our sponsors</a>
  </div>
</div>
<div class='row'>
  <h1>Community</h1>
  <p>
    <p>Crystal wouldn't be the same without the great community that gathered around it. And you can be part of it, too.</p>

    <p>You can <a href="/community/">check here</a> how to get involved.</p>
  </p>
</div>
<div class='row'>
  <h1 id='blog'>Entries from our blog</h1>
  <div class='blog_roll'>
    {% for post in site.posts %}
    <article>
      <div class='thumbnail'>
        <p>{{ post.thumbnail }}</p>
      </div>
      <h3>
        <a href='{{post.url}}'>{{ post.title }}</a>
      </h3>
      <p>{{ post.summary }}</p>
    </article>
    {% endfor %}
  </div>
</div>
