---
title: Crystal
nav_title: Home
nav_order: 1
subtitle: Fast as C, slick as Ruby
custom_body_classes:
  - main
---
<div class="row">
  <div class="col s12">
    <h2>Syntax</h2>
    <div class='code_section'>
      {% include sample_code.md %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h2>Performance</h2>
  </div>
</div>

<div class="row banner">
  <div class="col s12">
    <div class="line-through">
      <div class="flag">
        <h3>Crystal top Sponsors</h3>
        <a href="/sponsors">Meet all</a>
      </div>
    </div>
    <div class='sponsors-list'>
      <a href='https://manas.tech/' target='_blank' class="sponsor">
        {% img m.svg %}
        <span class="small">Manas Technology Solutions</span>
      </a>
      <a href='http://www.protel.com.tr' target='_blank' class="sponsor">
        {% img home/protel.svg %}
        <span class="small">Protel</span>
      </a>
      <a href='https://openredis.com' target='_blank' class="sponsor">
        {% img home/openredis.svg %}
        <span class="small">openredis</span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h2>Articles from our blog</h2>
    {% assign articles = site.posts | where: "release_notes",nil %}
    {% for post in articles limit: 3 %}
    {% include blog_row.html post=post %}
    {% endfor %}
    <p><a href="/blog">More articles</a></p>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h2>Release Notes</h2>
    <table class="bordered">
      <tbody>
        {% assign releases = site.posts | where: "release_notes",true %}
        {% for post in releases limit: 10 %}
          <tr>
            <td></td>
            <td><a href="{{ post.url }}">
              {{ post.title }}
            </a></td>
            <td>{{ post.date | date_to_string }}</td>
        {% endfor %}
      </tbody>
    </table>
    <p><a href="/blog#release_notes">More release notes</a></p>
  </div>
</div>

<div class="row banner">
  <div class="col s12">
    <div class="line-through">
      <div class="flag">
        <h3>Community channels</h3>
        <a href="/community">Show all</a>
      </div>
    </div>
    <div class='community-list'>
      <a href='https://github.com/crystal-lang/crystal/' target='_blank' class="item">
        <span class="small">Code repository</span>
        <span class="with_icon">crystal-lang/crystal</span>
      </a>
      <a href='https://groups.google.com/forum/#!forum/crystal-lang' target='_blank' class="item">
        <span class="small">General discussion</span>
        <span class="with_icon">crystal-lang</span>
      </a>
      <a href='https://gitter.im/crystal-lang/crystal' target='_blank' class="item">
        <span class="small">Chat room</span>
        <span class="with_icon">crystal-lang/crystal</span>
      </a>
      <a href='https://twitter.com/CrystalLanguage' target='_blank' class="item">
        <span class="small">General announcements and events</span>
        <span class="with_icon">@CrystalLanguage</span>
      </a>
    </div>
  </div>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
