---
title: Crystal Team
description: >
  <p>Crystal is an open-source project based on the incredible efforts of a large community. Meet the people behind Crystal.</p>
css: team
---


<ul class="cards">
  {% for member in site.data.team.core %}
    {% if member[1].status == "active" %}
      {% include member_profile.html %}
    {% endif %}
  {% endfor %}
</ul>

<section class="alumni">
  <h2>Alumni</h2>
  <p>These awesome people have served as core team members in the past. They are listed here to record and honor their contributions.</p>

  <ul class="grid x3">
    {% for member in site.data.team.alumni %}
      <li>
        <picture>
          <source srcset="/assets/authors/{{ member[0] }}.webp" type="image/webp">
          <img  src="/assets/authors/{{ member[0] }}.jpg" loading="lazy" />
        </picture>
        <h3>{{ member[1].name }}</h3>
        <a href="https://github.com/{{ member[1].github_handle | default: member[0] }}">{{ member[1].github_handle | default: member[0] }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

<hr class="full">

<section class="list grid sidebar">
  <div class="info">
    <h2>Admins</h2>
    <p>Some people help with administrative duties, for example related to the management of assets and infrastructure, and communications. They have access to some resources and may participate as representatives of Crystal, but are not Core Team members. They do not take part in project decisions.</p>
  </div>
  <ul class="cards">
    {% for member in site.data.team.admin %}
      {% include member_profile.html %}
    {% endfor %}
  </ul>
</section>

<hr class="full">

<section class="list grid sidebar">
  <div class="info">
    <h2>Community Moderators</h2>
    <p>These awesome people have served as core team members in the past. They are listed here to record and honor their contributions.</p>
    <p>If you want to become a contributor, see our Contributing Instructions and Code of Conduct.</p>
  </div>
  <ul class="cards">
    {% for member in site.data.team.moderators %}
      {% include member_profile.html %}
    {% endfor %}
  </ul>
</section>

<hr class="full">

<section class="list grid sidebar">
  <div class="info">
    <h2>Contributors</h2>
    <p>These awesome people have served as core team members in the past. They are listed here to record and honor their contributions.</p>
    <p>If you think you qualify, please:</p>
    <a href="mailto:crystal@manas.tech" class="hex btn shadow"><span>Contact Us</span></a>
  </div>
  <img src="https://opencollective.com/crystal-lang/contributors.svg?width=960">
</section>
