<div class="sf2017">
  <div class="row">
    <div class="col s12">
      <a href="https://codecamp.crystal-lang.org/" target="_blank">
        <span class="crystal-codecamp">CRYSTAL CODECAMP</span> <span class="sf">| SF2017</span>
        <div class="center-align right">
          <span class="date">May 11-12 at AcademyX San Francisco</span>
          <span class="register">REGISTER AT <em>Eventbrite</em></span>
          <div class="register-mobile ">REGISTER AT <span>Eventbrite</span></div>
        </div>
      </a>
    </div>
  </div>
</div>
