<div class="sf2017">
  <div class="row">
    <div class="col s12">
      <span class="crystal-codecamp">CRYSTAL CODECAMP</span> <span class="sf">| SF2017</span>
      <div class="center-align right">
        <span class="date">May 11-12 at AcademyX San Francisco</span>
        <span class="register">REGISTER AT <a href="https://www.eventbrite.com/e/crystal-codecamp-tickets-32737950090" target="_blank">Evenbrite</a></span>
        <a href="https://www.eventbrite.com/e/crystal-codecamp-tickets-32737950090" target="_blank" class="register-mobile">REGISTER AT <span>Evenbrite</span></a>
      </div>
    </div>
  </div>
</div>
