<div class="examples">

  {% for sample in site.samples %}
  <input id="{{sample.id}}" type="radio" name="codes"{% if forloop.index == 1 %} checked="checked"{% endif %}>
  {% endfor %}

  <div class="grid sidebar center">

    <div class="description">

      {% for sample in site.samples %}
      <article class="{{sample.id}}">
        <h2>{{sample.title}}</h2>
        <p>{{sample.description}}</p>
        {% if sample.read_more_url %}<a href="{{sample.read_more_url}}" class="left ico api_docs white">{{sample.read_more_label}}</a>{% endif %}
      </article>
      {% endfor %}

    </div>

    <div class="code mobile-wrapper">

      <div class="inner">
        {% for sample in site.samples %}
        <div class='{{sample.id}} code_section white{% if sample.playground %} run{% endif %}'>
          {{sample.content }}
        </div>
        {% endfor %}
      </div>

      <ul class="controls">
        {% for sample in site.samples %}
        {% if sample.short_name %}
        {%   assign name = sample.short_name %}
        {% else %}
        {%   assign name = sample.title %}
        {% endif %}
        <li><label for="{{sample.id}}">{{name}}</label></li>
        {% endfor %}
      </ul>

    </div>

  </div>

</div>

<script src="/assets/js/codemirror.js" defer></script>
<script src="/assets/js/crystal.js" defer></script>
<script src="/assets/js/carcin.js" defer></script>
<script src="/assets/js/carcin-play.js" defer></script>
<script src="/assets/js/ansi_up.min.js" defer></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".code_section.run code,.code_section.run figure").forEach(function(code) {
      var wrapper = document.createElement("div");
      code.parentNode.replaceChild(wrapper, code);
      var play = new CarcinPlay(code.innerText, wrapper, {language: "crystal"});
    });
  });
</script>
