<div class='header-section'>
  <div class='center-align'>
    <h1 class='title'>Crystal <span><span class="hide-on-small-only">|</span> SF2017</span></h1>
    <div class='subtitle'>Welcome to our code camp in <span style="white-space:nowrap;">San Francisco, CA</span>. <span style="white-space:nowrap;">May 11-12</span>.<br/>
Learn, engage and share.</div>
      <p class="main-actions">
        <div class="subtitle">
          <div class="col s12 m8 offset-m2 center-align subtitle">
            The CodeCamp has finished! Wonder what we talked about?<br/><b><a style="color: white" href="/Crystal-CodeCamp-SF2017.zip">Download the slides and code examples!</a></b>
          </div>
        </div>
      </p>
      <div class="picture-credit">
        <i class="material-icons">info_outline</i>
        <a href="https://www.flickr.com/photos/christopher_brown/27039658100" target="_blank">Picture</a> taken by
        <a href="https://www.flickr.com/photos/christopher_brown/" target="_blank">Thoper</a>
        (<a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC BY 2.0</a>)
      </div>
  </div>
</div>
