<nav role='navigation'>
  <div class="wrapper">

    {% if page.url != "/" %}
    <a class='brand-logo' href="/">

      <canvas height='120' id='logo-canvas' width='120'></canvas>

      <strong>Crystal</strong>

    </a>
    {% else %}
      <span class="git-star">
        <a class="github-button" href="https://github.com/crystal-lang/crystal" data-color-scheme="no-preference: dark_high_contrast; light: dark_high_contrast; dark: dark_high_contrast;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star crystal-lang/crystal on GitHub">Star</a>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
      </span>
    {% endif %}

    <div class="menu">
      <input type="checkbox" id="menu-mobile">
      <label for="menu-mobile"><span></span><span></span><span></span></label>
      <div>
        <ul>
          {% include nav_links.html %}
        </ul>
      </div>
    </div>

  </div>
</nav>
