{% assign navigation_pages = site.html_pages | sort: 'nav_order' %}
{% for p in navigation_pages %}
  <li>
    <a href="{{ p.url }}" {% if p.url == page.url %}class="selected"{% endif %}>
      {% if p.nav_title %}
        {{ p.nav_title }}
      {% else %}
        {{ p.title }}
      {% endif %}
    </a>
  </li>
{% endfor %}
<li>
  <a href='#'>Media</a>
</li>
<li>
  <a href='#'>Docs</a>
</li>
<li>
  <a href='#'>API</a>
</li>
<li>
  <a href='https://github.com/crystal-lang/crystal'>Github</a>
</li>

