{% assign navigation_pages = site.html_pages | sort: 'nav_order' %}
{% for p in navigation_pages %}
  {% unless p.exclude %}
    {% assign page_url = p.external_url | default: p.url %}
    <li>
      <a href="{{ page_url }}" {% if page_url == page.url %}class="selected"{% endif %} {% if p.external_url %}target="_blank"{% endif %}>
        {% if p.nav_title %}
          {{ p.nav_title }}
        {% else %}
          {{ p.title }}
        {% endif %}
      </a>
    </li>
  {% endunless %}
{% endfor %}