<div>
  <form
    action="https://tech.us6.list-manage.com/subscribe/post?u=68338ca88d5d6326c9a824317&amp;id=6f80e8b0be&amp;f_id=005a33e3f0"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_self"
    novalidate="">
      <h2>Signup for the Crystal Newsletter</h2>
      <div>
        <label for="mce-EMAIL">Email Address <span class="asterisk" title="Required">*</span></label>
        <input
          type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
          <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_68338ca88d5d6326c9a824317_6f80e8b0be" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-flat btn-large" value="Subscribe">
      </div>
  </form>

  <p>
    Our newsletter regularly shares highlights and insights on the Crystal language and community.
  </p>
  <p>
    <a href="https://us6.campaign-archive.com/home/?u=68338ca88d5d6326c9a824317&amp;id=6f80e8b0be"
      title="Newsletter archive">Newsletter archive.</a>
  </p>
</div>
