<header>
  {% assign authors = page.author | split: ',' %}
  <div class="info">
    <div>
      {% for author in authors %}
      <picture{% if authors.size > 1 %} class="multi"{% endif %}>
        <source srcset="/assets/authors/{{ author }}.webp" type="image/webp">
        <img src="/assets/authors/{{ author }}.jpg" loading="lazy" title="{{ site.data.blog_authors[author].name }}">
      </picture>
      {% endfor %}
    </div>
    <div>
      <address rel="author">
        {% for author in authors %}
          {% if forloop.index > 1 %} & {% endif %}{{ site.data.blog_authors[author].name }}
        {% endfor %}
      </address>
      <time pubdate>{{ page.date }}</time>
    </div>
  </div>

  <h1>{{ page.title }}</h1>

</header>
