<div class='post-header'>
  <div class="container">
    <div class='valign row'>
      <div class="col m2"></div>
      <div class="col s12 m9">
        <div class="author small">
          {% assign authors = page.author | split: ',' %}
          {% for author in authors %}
            {% img 'authors/{{ author }}.jpg' %}
          {% endfor %}
          {% for author in authors %}
            <span class="author_name">{{ site.data.blog_authors[author].name }}</span>
          {% endfor %}
          {% assign date = page.date | timeago %}
          {% if date contains "month" or date contains "year" %}
            <span class="date">{{ page.date | date_to_string }}</span>
          {% else %}
            <span class="date">{{ date }}</span>
          {% endif %}
        </div>

        <h1 class='title'>{{ page.title }}</h1>
      </div>
      <div class="col m1"></div>
    </div>
  </div>
</div>
