<header>
  {% if include.post %}
    {% assign authors = include.post.author | split: ',' %}
  {% else %}
    {% assign authors = page.author | split: ',' %}
  {% endif %}
  <div class="info">
    <div>
      {% for author in authors %}
      <picture{% if authors.size > 1 %} class="multi"{% endif %}>
        <source srcset="/assets/authors/{{ author }}.webp" type="image/webp">
        <img src="/assets/authors/{{ author }}.jpg" title="{{ site.data.blog_authors[author].name }}">
      </picture>
      {% endfor %}
    </div>
    <div>
      <address rel="author">
        {% for author in authors %}
          {% if forloop.index > 1 %} & {% endif %}{{ site.data.blog_authors[author].name }}
        {% endfor %}
      </address>
      <time pubdate>{% if include.post %}{{ include.post.date | date_to_string }}{% else %}{{ page.date | date_to_string }}{% endif %}</time>
    </div>
  </div>

  {% if include.post %}
    <h2>{{ include.post.title }}</h2>
  {% else %}
    <h1>{{ page.title }}</h1>
  {% endif %}

</header>
