<div class="row become-sponsor">
  <div class="col">
    <h2>Want to become a sponsor?</h2>
    <p>If you like this project and you see its potential, you can help. Every dollar counts!</p>
    <p>
      <a href="https://salt.bountysource.com/teams/crystal-lang" target="_blank"
        class="btn btn-flat btn-large">Donate</a>
    </p>
  </div>
</div>

<div class="row faq">
  <div class="col">
    <h2>FAQ</h2>

    <p>
      <h3>What is this list?</h3>
      These are the companies and individuals contributing a monthly amount to help sustain Crystal's development. See
      the Bountysource campaign for more details.
    </p>

    <p>
      <h3>I am a sponsor contributing $5/month, but my URL is not listed</h3>
      We grab the website and avatar from your <a class="bountysource-link" href="https://www.bountysource.com/settings"
        target="_blank">Bountysource profile</a>. If that fails, we try to use your GitHub or Twitter accounts listed in
      that same profile.
    </p>
    <p>
      We update the current sponsors in this page every other week.
    </p>
    <p>
      If there is any mismatch information you would like to correct, please <a href="mailto:crystal@manas.tech">contact
        us</a>.
    </p>
  </div>
</div>
