<div class="row become-sponsor">
  <div class="col">
    <h2>Want to become a sponsor?</h2>
    <p>If you like this project and you see its potential, you can help. Every dollar counts!</p>
    <p>
      <a href="https://opencollective.com/crystal-lang" target="_blank"
        class="btn btn-flat btn-large">Contribute</a>
    </p>
  </div>
</div>

<div class="row faq">
  <div class="col">
    <h2>FAQ</h2>

    <p>
      <h3>What is this list?</h3>
      These are the companies and individuals contributing to help sustain Crystal's development. See
      the <a class="contributing-link" href="https://opencollective.com/crystal-lang" target="_blank">Open Collective campaign</a> for more details.
    </p>

    <p>
      <h3>I am a sponsor contributing $5/month, but my URL is not listed</h3>
      We grab the website and avatar from your
      <a class="contributing-link" href="https://opencollective.com" target="_blank">Open Collective profile</a> or your
      <a class="contributing-link" href="https://www.bountysource.com/settings" target="_blank">Bountysource profile</a>. If that fails, we try to use your GitHub or Twitter accounts listed in
      that same profile.
    </p>

    <p>
      <h3>When is this page updated?</h3>
      We update the current sponsors in this page at the beginning of each month.
    </p>

    <p>
      <h3>How is the list ordered?</h3>
      It is ordered by level of contribution and total amount contributed so far. Columns are sortable.
    </p>

    <p>
      <h3>How long are contributors listed?</h3>
      Open Collective contributors are listed forever, but after three months of the last payment they are considered as contributing $0 (that is, no link is shown). Bounty Source contributors are erased as long as the site consider them inactive, for technical reasons.
    </p>

    <p>
      <h3>There seems to be an error, how can I fix it?</h3>
      If there is any mismatch information you would like to correct, please <a class="contributing-link" href="mailto:crystal@manas.tech">contact
        us</a>.
    </p>
  </div>
</div>
