---
title: Media
subtitle: As the language and the community continues to grow we think it is important to have basic rules of thumb about how and for what purposes the Crystal brand can be used.
nav_order: 5
---
<div class="row">
  <div class="col m8 s12">
    <div class="row">
      <div class="col">
        <h2>Assets</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <h3>Logo</h3>
        <div class="media-gallery">
          {% include media_gallery_item.html img="media/crystal_logo.svg" name="Logo" %}
          {% include media_gallery_item.html img="media/crystal_logo-stacked_version.svg" name="Logo - stacked version" %}
          {% include media_gallery_item.html img="media/crystal_icon.svg" name="Icon" %}
        </div>
        <p>
          <i class="material-icons">file_download</i>
          Download all assets in a zip file
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 l7">
        <h3>Color</h3>
        <div class="color row">
          {% include media_color_sample.html color="Black" hex="#000" class="black" %}
          {% include media_color_sample.html color="White" hex="#FFF" class="white" %}
          {% include media_color_sample.html color="Gray" hex="#777" class="gray" %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h3>Font</h3>
        <div class="fonts">
          {% include media_font_sample.html name="Roboto" class="roboto" %}
          {% include media_font_sample.html name="Roboto Medium" class="medium" %}
          {% include media_font_sample.html name="Roboto Mono Medium" class="mono" %}
        </div>
      </div>
    </div>
  </div>

  <div class="col m1"></div>
  <div class="col m3 s12">
    <div class="row">
      <div class="col">
        <h2>Looking for stickers?</h2>
        <p>Find the official Crystal stickers on stickermule</p>
        <p>
          <a href="https://www.stickermule.com/user/1070777225/stickers" target="_blank" class="btn btn-flat btn-large">Buy</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Legal</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>

