---
title: Media
description: As the language and the community continues to grow we think it is important to have basic rules of thumb about how and for what purposes the Crystal brand can be used.
---
<div class="container">

  <div class="row">
    <div class="col offset-m1 m10 s12">
      <div class="row">
        <div class="col">
          <h2>Assets</h2>
          <p>Thanks for showing interest in Crystal! As the language and the community continues to grow we think it is important to have basic rules of thumb about how and for what purposes you can use the Crystal brand.</p>
          <p>We’ve put together some assets and guidelines to help you determine the best way to use our brand and logos. </p>

          <h3>Logo</h3>
          <div class="media-gallery">
            {% include media_gallery_item.html img="media/crystal_logo.svg" name="Logo" %}
            {% include media_gallery_item.html img="media/crystal_logo-stacked_version.svg" name="Logo - stacked version" %}
            {% include media_gallery_item.html img="media/crystal_icon.svg" name="Icon" %}
          </div>
          <p class="no-underline"><a href="/media/crystal-media-kit-6e57ec7.zip">
            <i class="material-icons">file_download</i>
            <span>Download all assets in a zip file</span>
          </a></p>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m7">
          <h3>Color</h3>
          <div class="color row">
            {% include media_color_sample.html color="Black" hex="#000" class="black" %}
            {% include media_color_sample.html color="White" hex="#FFF" class="white" %}
            {% include media_color_sample.html color="Gray" hex="#777" class="gray" %}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h3>Font</h3>
          <div class="fonts">
            {% include media_font_sample.html name="Roboto" class="roboto" %}
            {% include media_font_sample.html name="Roboto Medium" class="medium" %}
            {% include media_font_sample.html name="Roboto Mono Medium" class="mono" %}
          </div>
          <p class="no-underline"><a href="https://fonts.google.com/selection?query=robot&selection.family=Roboto+Mono:500|Roboto:400,500" target="_blank">
            <i class="extra-icons google_fonts"></i>
            <span>Get them from Google Fonts</span>
          </a>
          </p>
        </div>
      </div>

      <hr class="squares"/>

      <div class="row media-guidelines">
        <div class="col s12">
          <h2>Guidelines</h2>

          <h3>What can you do with the Crystal logos and brand:</h3>
          <ul class="guidelines dos">
          <li>Print them on any merchandise you want, as long as you don’t sell it.</li>
          <li>Use them in presentations, papers and talks. </li>
          <li>Use them to advertise something you’ve created with Crystal.</li>
          <li>Use them in blog posts, articles or news about Crystal.</li>
          <li>Use them for educational purposes, as long as it’s available for free. </li>
          </ul>

          <h3>Don’t do these things with the Crystal logos and brand:</h3>
          <ul class="guidelines donts">
          <li>Change their colors, dimensions or add your own text.</li>
          <li>Sell Crystal artwork or merchandise without permission.</li>
          <li>Integrate your own logo with Crystal logos.</li>
          <li>Use the Crystal logos as your brand, company or app image.</li>
          <li>Use the logo in a way that could suggest sponsorship or endorsement by Crystal.</li>
          </ul>

          <h3>Don’t hesitate to contact us if:</h3>
          <ul class="guidelines general">
          <li>You want permission to sell Crystal merchandise.</li>
          <li>You want to use these logos for commercial purposes.</li>
          <li>You have questions about the use of Crystal brand and logos.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
