.hex {
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-family: sans-serif;
  position: relative;
  align-items: stretch;
  background: transparent;
  width: fit-content;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;

  a, &a {
    cursor: pointer;
  }

  &.btn {
    text-transform: uppercase;
    width: 100%;
    color: #000;
    font: bold 18px Roboto;
    span {
      justify-content: center;
    }
  }

  span {
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition:  all 0.25s;
  }
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 12px 24px 0;
    border-color: transparent white transparent transparent;
    transition:  all 0.25s;
  }

  &:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 12px;
    border-color: transparent transparent transparent white;
    transition:  all 0.25s;
  }

  &:hover{
   &:before {
       border-color: transparent #eee transparent transparent;
   }
   &:after {
       border-color: transparent transparent transparent #eee;
   }
   span {
     background-color: #eee;
   }
  }
  &.uq {
    display: flex;
    flex-direction: column;

    span {
      padding: 0 3px;
      width: calc( 100% - 6px );
      justify-content: center;
      display: block;
      height: 26px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:before{
      border-width: 0 20px 10px 20px;
      border-color: transparent transparent white transparent;
    }

    &:after{
      border-width: 10px 20px 0 20px;
      border-color: white transparent transparent transparent;
    }

    &:hover{
      &:before{
        border-color: transparent transparent #eee transparent;
      }
      &:after{
        border-color: #eee transparent transparent transparent;
      }
    }
  }

}

.shadow {
  filter:  drop-shadow(0 1px 2px rgba(0, 0, 0, 0.35));
}
.border {
  filter:  drop-shadow(-1px 0 0 rgba(0, 0, 0, 0.15)) drop-shadow(1px 0 0 rgba(0, 0, 0, 0.15));

  span {
   filter:  drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.1)) drop-shadow(0 1px 0 rgba(0, 0, 0, 0.1));
  }
}


// Social Icons
.ico {
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: center center;

  &.left {
    background-position: left center;
  }

  &.github {
    background-image: url('/assets/icons/github.svg');
    background-size: auto auto;
  }
  &.forum {
    background-image: url('/assets/icons/forum.svg');
    background-size: auto auto;
  }
  &.gitter {
    background-image: url('/assets/icons/gitter.svg');
    background-size: auto auto;
  }
  &.twitter {
    background-image: url('/assets/icons/twitter.svg');
    background-size: 22px auto;
  }
  &.google {
    background-image: url('/assets/icons/google.svg');
    background-size: 22px auto;
  }
  &.facebook {
    background-image: url('/assets/icons/facebook.svg');
    background-size: 22px auto;
  }
  &.reddit {
    background-image: url('/assets/icons/reddit.svg');
    background-size: 22px auto;
  }
  &.chain {
    background-image: url('/assets/icons/chain.svg');
    background-size: 22px auto;
  }
  &.api_docs {
    background-image: url('/assets/icons/docs.svg');
  }
  &.changelog {
    background-image: url('/assets/icons/changelog.svg');
  }
  &.bio {
    background-image: url('/assets/icons/bio.svg');
  }
  &.person {
    background-image: url('/assets/icons/person.svg');
  }
  &.shield {
    background-image: url('/assets/icons/shield.svg');
  }
  &.laptop {
    background-image: url('/assets/icons/laptop.svg');
  }
  &.build {
    background-image: url('/assets/icons/build.svg');
  }
  &.building {
    background-image: url('/assets/icons/building.svg');
  }
  &.heart {
    background-image: url('/assets/icons/heart.svg');
  }
  &.code {
    background-image: url('/assets/icons/code.svg');
  }
  &.white {
    color: #000;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(1deg) brightness(103%) contrast(102%);
  }
}
