body {
  background: var(--white);
  color: var(--primary-text);
  font-family: var(--sans);
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-smooth: auto;
}
.no-select, nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body:not(.home) {
  nav {
    // Shadow on scroll effect logic
    --nav-height: 91px;
    --nav-distance: 20px;
    --nav-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    --nav-cover: linear-gradient(white 10%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.4) 70%, transparent);

    position: sticky;
    top: calc(var(--nav-distance) * -1);
    left: 0;
    height: var(--nav-height);
    width: 100%;
    backface-visibility: hidden;
    z-index: 99;

    &::before,
    &::after {
      content: "";
      display: block;
      height: var(--nav-distance);
      position: sticky;
    }
    &::before {
      top: calc(var(--nav-height) - var(--nav-distance) * 2);
      box-shadow: var(--nav-shadow);
    }
    &::after {
      background: var(--nav-cover);
      top: 0;
      z-index: 100;
    }
    & .wrapper {
      height: calc(var(--nav-height) - var(--nav-distance));
      position: sticky;
      top: 0px;
      margin-top: calc(var(--nav-distance) * -1);
      z-index: 101;
      background: #fff;
      display: grid;
      grid-template-areas: "logo menu";
      grid-template-columns: 200px auto;
      border-bottom: 1px solid rgba(0,0,0,.1);
    }

    a.brand-logo {
      display: flex;
      height: 72px;
      align-items: center;
      margin-left: 15px;

      #logo-canvas {
        height: 60px;
        width: 60px;

      }
      strong {
        background: url('/assets/typo.svg') no-repeat;
        height: 18px;
        width: 97px;
        overflow: hidden;
        text-indent: -99em;
        background-size: auto 100%;
        margin-left: 5px;
      }
    }

    svg {
      height: 60px;
    }

    .menu {
      display: flex;
      flex-direction: row-reverse;

      ul {
        margin-right: 10px;
      }
      li {
        display: inline-flex;

        a {
          height: 67px;
          line-height: 67px;
          color: #777;
          padding: 0;
          margin: 0 15px;
        }
      }
    }
  }
}

body.sponsors nav a.sponsors,
body.post nav a.news,
body.news nav a.news {
  border-bottom: 5px solid var(--black);
  font-weight: 700;
  color: #000;
}

label[for=menu-mobile],
#menu-mobile {
  display: none;
}

.black-text {
  color: #000;
}
.grey-text {
  color: #777;
}
header,
main,
.center {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding-top: 66px;

  h1 {
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 36px;
  }
  p {
    font: normal 24px/36px var(--sans);
    margin-bottom: 36px;
  }
  a {
    text-decoration: underline;
  }
}

h2 {
  font: normal 36px/39px var(--sans);
  margin-bottom: 34px;
}
h3 {
  font: bold 18px/24px var(--sans);
  margin-bottom: 22px;
}

p {
  font: normal 18px/24px var(--sans);
  margin-bottom: 30px;
}

section {
  padding: 70px 0;
}
.bold {
  font-weight: 700;
}

.separator {
  &:before {
    content: " ";
    grid-area: separator;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100vw;
    display: block;
    margin: -25px 0 25px;
  }
  &.full:before {
    margin-left: calc( ( 100vw - 1200px ) / -2 );
  }

  position: relative;
  padding-top: 25px;
  margin-top: 30px;

  .above {
    position: absolute;
    top: -24px;
    left: calc( 50% - 148px );
    color: #000;
    font-weight: bold;

    * {
      font-size: 18px;
    }

    span:after {
      content: "Show all";
      color: #777;
      margin-left: 10px;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}

.tooltip {
  width: 80px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 6px 8px -1px rgba(0, 0, 0, .3 );
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
  font: normal 14px/16px var(--sans);
  display: flex;
  justify-content: center;

  .icon-tick {
    width: 16px;
    height: 16px;
    background: url("/assets/icons/check.svg") no-repeat;
    background-size: 100% auto;
    display: inline-block;
    margin-right: 5px;
  }
  &:after {
    content: " ";
    position: absolute;
    bottom: -9px;
    left: 10px;
    margin-left: 0px;
    border-width: 9px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    transform: rotate(135deg);
  }
}
.ttimer2::before {
    content: " ";
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    background: #8c1;
    height: 2px;
    animation: timerbar 2s;
}
@keyframes timerbar {
  from { width: 0%; }
  to { width: 100%; }
}

.sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  .channels {
    li {
      margin: 50px 0;

      h3 {
        margin-left: 40px;
        font-size: 14px;
        font-weight: normal;
      }
      a {
        height: 26px;
        display: block;
        background-repeat: no-repeat;
        background-position: 4px center;
        background-size: auto 20px;
        padding-left: 40px;
        color: #000;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  .sides {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 0 15px;
    color: #777;
    line-height: 72px;
  }

  .footer-logo {
    background: url('/assets/m-outline.svg') no-repeat center right;
    padding-right: 45px;
    display: inline-block;
    height: 72px;
    background-size: 36px 36px;
  }
}
hr {
  width: 100vw;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);

  &.full {
    margin-left: calc( ( 100vw - 1200px ) / -2 );
  }
  &.white {
    border-color: rgba(255,255,255,.1);
  }
}
