/* =============================================================================
  GRIDS
============================================================================= */

.grid {
  display: grid;
  position: relative;
  grid-gap: 25px;
  
  &.x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "c1 c2";
  }
  &.x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "c1 c2 c3";
  }
  &.x4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "c1 c2 c3 c4";
  }
}
