/* =============================================================================
  GRIDS
============================================================================= */

.grid {
  display: grid;
  position: relative;
  grid-gap: 25px;
  &.x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "c1 c2";
  }
  &.x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "c1 c2 c3";
  }
  &.x4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "c1 c2 c3 c4";
  }
  &.x5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "c1 c2 c3 c4 c5";
  }
  &.x6 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "c1 c2 c3 c4 c5 c6";
  }
  &.x7 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "c1 c2 c3 c4 c5 c6 c7";
  }
  &.x8 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "c1 c2 c3 c4 c5 c6 c7 c8";
  }
  &.sidebar {
    grid-template-columns: minmax(25%, 240px) 1fr;
    grid-template-areas: "sidebar content";
  }
  &.sidebar-right {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content sidebar";
    grid-gap: 2rem 5rem;
  }
}
