.visually-hidden:not(:focus, :active) {
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.icon {
  > svg {
    height: 1.2em;
    fill: currentcolor;
    display: inline-block;
    vertical-align: text-bottom;
  }

  @extend .ui-link;
  --link-color: var(--light-text);
  --link-hover-color: var(--lighter-text);
}

.full-width {
  width: 100vw;
  transform: translateX(-50%);
  margin-left: 50%;
}

.pill {
  background: var(--border-color);
  border-radius: 10px;
  font-size: 90%;
  padding: 0 0.75em;
  font-weight: 400;
}

.label {
  font-size: 90%;
  font-weight: 200;
  color: var(--lighter-text);
}

ul,
li {
  &.yes {
    list-style-image: url("/assets/icons/check.svg");
  }
  &.no {
    list-style-image: url("/assets/icons/close.svg");
  }
}

// This class marks a link as being part of the UI chrome, which disables some
// visuals that are usually found on links. They're not underlined, for example.
.ui-link {
  --link-underline: none;
}
