:root {
  // Colors
  // -------------
  --white: #ffffff;
  --black: #000000;
  --light-gray: #777777;
  --primary-text: #000000;
  --primary-code: #777;
  
  // Fonts
  // -----------
  --sans: 'Roboto', Arial, Helvetica, sans-serif;
  --codeFont: 'Roboto Mono', monospace;
}
