@layer reset, frameworks, defaults, pattern, components, utilities;

@import "variables";
@import "mixins/blockflow";

@layer reset {
  @import "reset";
}

@layer frameworks {
  @import "pygment_white";
}

@layer defaults {
  @import "base/functions";
  @import "base/fonts";
  @import "base/typography";
  @import "base/layout";
}

@layer components {
  @import "components/navbar";
}

@layer pages {
  @import "pages/styleguide";
}

@layer utilities {
  @import "utilities";
}
