@layer reset, frameworks, defaults, pattern, components, utilities;

@import "variables";
@import "mixins/blockflow";

@layer reset {
  @import "reset";
}

@layer frameworks {
  @import "pygment_white";
}

@layer defaults {
  @import "base/functions";
  @import "base/fonts";
  @import "base/typography";
  @import "base/layout";
}

@layer components {
  @import "elements/avatar-list";
  @import "elements/table";

  @import "components/callout";
  @import "components/content";
  @import "components/navbar";
  @import "components/post-teaser";
}

@layer pages {
  @import "pages/blog";
  @import "pages/styleguide";
}

@layer utilities {
  @import "utilities";
  @import "utilities/footnote";
}
