@media only screen and (max-width: 768px) {

  .mobile-wrapper {
    width: calc( 100vw - 12px );
    margin-left: 12px;
    overflow-x: auto;
    overflow-y: visible;
  }

  label[for=menu-mobile] {
    display: block;
  }

  main {
    padding: 0 12px;
  }
  article {
    width: calc( 100vw - 24px );
    overflow: hidden;
  }
  nav {
    --nav-height: 81px;

    a.brand-logo {
      height: 60px;
      margin-left: 5px;
    }

    .menu {

      div {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0,.75);
        opacity: 0;
        overflow: hidden;
        transition: opacity .5s;
      }
      ul {
        position: absolute;
        top: -100vh;
        transition: top .3s;
        background: #fff;
        z-index: 1;
        border-radius: 4px;
        box-shadow: 0 6px 6px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.19);
        width: 90vw;
        left: calc( 50% - 45vw );

        li {
          width: 100%;

          a {
            width: 100%;
            border: 0;
            text-align: right;
          }
        }
      }

      label {
        position: fixed;
        top: 24px;
        right: 20px;
        width: 30px;
        height: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 9;
      }

      label span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      label span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      label span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      label span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      #menu-mobile:checked ~ div {
        height: calc( 100vh - 72px );
        opacity: 1;

        ul {
          top: 20px;
        }
      }
      #menu-mobile:checked ~ label span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }

      #menu-mobile:checked ~ label span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      #menu-mobile:checked ~ label span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 19px;
        left: 8px;
      }
    }
  }

  .grid {
    &.x3-mobile {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "c1 c2 c3";
    }
    &.x4-mobile {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "c1 c2 c3 c4";
    }
    &.sidebar,
    &.x2,
    &.x3,
    &.x4  {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "c1";

      section {
        grid-area: auto / c1 / auto / c2;
      }
      aside {
        grid-area: auto;
      }
    }
    // &.x4  {
    //   grid-template-columns: 1fr 1fr;
    //   grid-template-areas: "c1 c2";
    // }
  }
  hr.full,
  .separator.full:before {
    margin-left: -12px;
  }
  body.home nav .menu label {
    position: absolute;

    span {
      background: #fff;
    }
  }
  p {
    font: normal 16px/22px var(--sans);
    margin-bottom: 30px;
  }
  .sides {
    font-size: 13px;
    flex-direction: column;
    margin-top: 50px;

    div {
      text-align: center;
    }
    .black-text {
      text-align: right;
      font-size: 14px;
    }
  }
}
