.highlight {

  code,
  pre {color:#272822;background-color:#E5E5E5}

  .hll{background-color:#222}
  .c{color:#7f9f7f}
  .err{color:#e37170;background-color:#3d3535}
  .g{color:#7f9f7f}
  .k{color:#C7285E}
  .l{color:#ccc}
  .n{color:#272822}
  .o{color:#272822}
  .x{color:#ccc}
  .p{color:#272822}
  .cm{color:#7f9f7f}
  .cp{color:#7f9f7f}
  .c1{color:#8C8C8C}
  .cs{color:#cd0000;font-weight:bold}
  .gd{color:#cd0000}
  .ge{color:#ccc;font-style:italic}
  .gr{color:red}
  .gh{color:#dcdccc;font-weight:bold}
  .gi{color:#00cd00}
  .go{color:gray}
  .gp{color:#dcdccc;font-weight:bold}
  .gs{color:#ccc;font-weight:bold}
  .gu{color:purple;font-weight:bold}
  .gt{color:#0040D0}
  .kc{color:#dca3a3}
  .kd{color:#ffff86}
  .kn{color:#dfaf8f;font-weight:bold}
  .kp{color:#7644E4}
  .kr{color:#cdcd00}
  .kt{color:#00cd00}
  .ld{color:#cc9393}
  .m{color:#52c7cc}
  .s{color:#e37878}
  .na{color:#3cb64b}
  .nb{color:#5F868F}
  .nc{color:#272822}
  .no{color:#5F868F}
  .nd{color:#ccc}
  .ni{color:#c28182}
  .ne{color:#c3bf9f;font-weight:bold}
  .nf{color:#41822D}
  .nl{color:#888}
  .nn{color:#8fbede}
  .nx{color:#ccc}
  .py{color:#ccc}
  .nt{color:#9ac39f}
  .nv{color:#7644E4}
  .ow{color:#f0efd0}
  .w{color:#ccc}
  .mf{color:#8cd0d3}
  .mh{color:#7644E4}
  .mi{color:#7644E4}
  .mo{color:#8cd0d3}
  .sb{color:#cc9393}
  .sc{color:#cc9393}
  .sd{color:#cc9393}
  .s2{color:#728B14}
  .se{color:#cc9393}
  .sh{color:#cc9393}
  .si{color:#728B14}
  .sx{color:#cc9393}
  .sr{color:#728B14}
  .s1{color:#728B14}
  .ss{color:#7644E4}
  .bp{color:#efef8f}
  .vc{color:#272822}
  .vg{color:#272822}
  .vi{color:#272822}
  .il{color:#8cd0d3}

  .lineno {
    border-right: 1px solid #8C8C8C;
    color: #8C8C8C;
    padding-right: 15px;
    width: 17px;
    display: inline-block;
    text-align: right;
  }
}

.white {
  .highlight {
    .c1 { color: #555; }
    .o, .n, .no, .p, .nc, .vi
    { color: #fff; }

    code {
      color: #ccc;
    }
  }
}
