unset shellHook
PATH=${PATH:-}
nix_saved_PATH="$PATH"
XDG_DATA_DIRS=${XDG_DATA_DIRS:-}
nix_saved_XDG_DATA_DIRS="$XDG_DATA_DIRS"
BASH='/noshell'
HOSTTYPE='x86_64'
IFS=' 	
'
IN_NIX_SHELL='impure'
export IN_NIX_SHELL
LINENO='76'
MACHTYPE='x86_64-pc-linux-gnu'
NIX_BUILD_CORES='16'
export NIX_BUILD_CORES
NIX_STORE='/nix/store'
export NIX_STORE
OLDPWD=''
export OLDPWD
OPTERR='1'
OSTYPE='linux-gnu'
PATH='/path-not-set'
export PATH
PS4='+ '
builder='/nix/store/5q96kfjc8bxwv89fw0fqczwr6083ny8n-bash-interactive-5.2-p15/bin/bash'
export builder
dontAddDisableDepTrack='1'
export dontAddDisableDepTrack
name='devenv-shell'
export name
out='/home/johannes/src/crystal-lang/crystal-website/outputs/out'
export out
outputs='out'
shellHook='
# Remove all the unnecessary noise that is set by the build env
unset NIX_BUILD_TOP NIX_BUILD_CORES NIX_STORE
unset TEMP TEMPDIR TMP TMPDIR
# $name variable is preserved to keep it compatible with pure shell https://github.com/sindresorhus/pure/blob/47c0c881f0e7cfdb5eaccd335f52ad17b897c060/pure.zsh#L235
unset builder out shellHook stdenv system
# Flakes stuff
unset dontAddDisableDepTrack outputs

# For `nix develop`. We get /noshell on Linux and /sbin/nologin on macOS.
if [[ "$SHELL" == "/noshell" || "$SHELL" == "/sbin/nologin" ]]; then
  export SHELL=/nix/store/5q96kfjc8bxwv89fw0fqczwr6083ny8n-bash-interactive-5.2-p15/bin/bash
fi

# https://github.com/numtide/devshell/issues/158
PATH=${PATH#/path-not-set:}

export DEVENV_PROFILE=/nix/store/n5h2w7szrankck78d2gb3ilhw7m3aidm-devenv-profile

# add installed packages to PATH
export PATH="$DEVENV_PROFILE/bin:$PATH"

# prepend common compilation lookup paths
export PKG_CONFIG_PATH="$DEVENV_PROFILE/lib/pkgconfig:${PKG_CONFIG_PATH-}"
export LD_LIBRARY_PATH="$DEVENV_PROFILE/lib:${LD_LIBRARY_PATH-}"
export LIBRARY_PATH="$DEVENV_PROFILE/lib:${LIBRARY_PATH-}"
export C_INCLUDE_PATH="$DEVENV_PROFILE/include:${C_INCLUDE_PATH-}"

# these provide shell completions / default config options
export XDG_DATA_DIRS="$DEVENV_PROFILE/share:${XDG_DATA_DIRS-}"
export XDG_CONFIG_DIRS="$DEVENV_PROFILE/etc/xdg:${XDG_CONFIG_DIRS-}"

export BUNDLE_PATH='\''/home/johannes/src/crystal-lang/crystal-website/.devenv/state/.bundle'\''
export DEVENV_DOTFILE='\''/home/johannes/src/crystal-lang/crystal-website/.devenv'\''
export DEVENV_PROFILE='\''/nix/store/n5h2w7szrankck78d2gb3ilhw7m3aidm-devenv-profile'\''
export DEVENV_ROOT='\''/home/johannes/src/crystal-lang/crystal-website'\''
export DEVENV_STATE='\''/home/johannes/src/crystal-lang/crystal-website/.devenv/state'\''
export GEM_HOME='\''/home/johannes/src/crystal-lang/crystal-website/.devenv/state/.bundle/ruby/3.2.0'\''

export PATH=/nix/store/1hn7la1ipf7nhq7b4rj4hxbk2xbyyqkp-pre-commit-3.3.3/bin:$PATH
if ! type -t git >/dev/null; then
  # This happens in pure shells, including lorri
  echo 1>&2 "WARNING: pre-commit-hooks.nix: git command not found; skipping installation."
elif ! /nix/store/whwwhd6ns271bj0ff86ap37i9r9kzi9c-git-2.42.0/bin/git rev-parse --git-dir &> /dev/null; then
  echo 1>&2 "WARNING: pre-commit-hooks.nix: .git not found; skipping installation."
else
  GIT_WC=`/nix/store/whwwhd6ns271bj0ff86ap37i9r9kzi9c-git-2.42.0/bin/git rev-parse --show-toplevel`

  # These update procedures compare before they write, to avoid
  # filesystem churn. This improves performance with watch tools like lorri
  # and prevents installation loops by via lorri.

  if ! readlink "${GIT_WC}/.pre-commit-config.yaml" >/dev/null \
    || [[ $(readlink "${GIT_WC}/.pre-commit-config.yaml") != /nix/store/zraklrin166dqknd48762hj50hjzpr8b-pre-commit-config.json ]]; then
    echo 1>&2 "pre-commit-hooks.nix: updating $PWD repo"

    [ -L .pre-commit-config.yaml ] && unlink .pre-commit-config.yaml

    if [ -e "${GIT_WC}/.pre-commit-config.yaml" ]; then
      echo 1>&2 "pre-commit-hooks.nix: WARNING: Refusing to install because of pre-existing .pre-commit-config.yaml"
      echo 1>&2 "    1. Translate .pre-commit-config.yaml contents to the new syntax in your Nix file"
      echo 1>&2 "        see https://github.com/cachix/pre-commit-hooks.nix#getting-started"
      echo 1>&2 "    2. remove .pre-commit-config.yaml"
      echo 1>&2 "    3. add .pre-commit-config.yaml to .gitignore"
    else
      ln -fs /nix/store/zraklrin166dqknd48762hj50hjzpr8b-pre-commit-config.json "${GIT_WC}/.pre-commit-config.yaml"
      # Remove any previously installed hooks (since pre-commit itself has no convergent design)
      hooks="pre-commit pre-merge-commit pre-push prepare-commit-msg commit-msg post-checkout post-commit"
      for hook in $hooks; do
        pre-commit uninstall -t $hook
      done
      /nix/store/whwwhd6ns271bj0ff86ap37i9r9kzi9c-git-2.42.0/bin/git config --local core.hooksPath ""
      # Add hooks for configured stages (only) ...
      if [ ! -z "commit" ]; then
        for stage in commit; do
          if [[ "$stage" == "manual" ]]; then
            continue
          fi
          case $stage in
            # if you amend these switches please also review $hooks above
            commit | merge-commit | push)
              stage="pre-"$stage
              pre-commit install -t $stage
              ;;
            prepare-commit-msg | commit-msg | post-checkout | post-commit)
              pre-commit install -t $stage
              ;;
            *)
              echo 1>&2 "ERROR: pre-commit-hooks.nix: either $stage is not a valid stage or pre-commit-hooks.nix doesn'\''t yet support it."
              exit 1
              ;;
          esac
        done
      # ... or default '\''pre-commit'\'' hook
      else
        pre-commit install
      fi

      # Fetch the absolute path to the git common directory. This will normally point to $GIT_WC/.git.
      common_dir=$(/nix/store/whwwhd6ns271bj0ff86ap37i9r9kzi9c-git-2.42.0/bin/git rev-parse --path-format=absolute --git-common-dir)

      # Convert the absolute path to a path relative to the toplevel working directory.
      common_dir=${common_dir#$GIT_WC/}

      /nix/store/whwwhd6ns271bj0ff86ap37i9r9kzi9c-git-2.42.0/bin/git config --local core.hooksPath "$common_dir/hooks"
    fi
  fi
fi


export RUBYLIB="$DEVENV_PROFILE/3.2.0:$DEVENV_PROFILE/lib/ruby/site_ruby:$DEVENV_PROFILE/lib/ruby/site_ruby/3.2.0:$DEVENV_PROFILE/lib/ruby/site_ruby/3.2.0/x86_64-linux:$RUBYLIB"
export GEM_PATH="$GEM_HOME/gems:$GEM_PATH"
export PATH="$GEM_HOME/bin:$PATH"


# Automatically run bundler upon enterting the shell.
bundle install --quiet

export PS1="\[\e[0;34m\](devenv)\[\e[0m\] ${PS1-}"

# set path to locales on non-NixOS Linux hosts
if [ -z "${LOCALE_ARCHIVE-}" ]; then
  export LOCALE_ARCHIVE=/nix/store/shxwsb8w1xjdj5d1clmmkms4vpdhs5ay-glibc-locales-2.38-23/lib/locale/locale-archive
fi


# note what environments are active, but make sure we don'\''t repeat them
if [[ ! "${DIRENV_ACTIVE-}" =~ (^|:)"$PWD"(:|$) ]]; then
  export DIRENV_ACTIVE="$PWD:${DIRENV_ACTIVE-}"
fi

# devenv helper
if [ ! type -p direnv &>/dev/null && -f .envrc ]; then
  echo "You have .envrc but direnv command is not installed."
  echo "Please install direnv: https://direnv.net/docs/installation.html"
fi

mkdir -p .devenv
rm -f .devenv/profile
ln -s /nix/store/n5h2w7szrankck78d2gb3ilhw7m3aidm-devenv-profile .devenv/profile

'
export shellHook
stdenv='/nix/store/8cp9qncgk7a8kpdc9ama9j66zxiqs9cz-naked-stdenv'
export stdenv
system='x86_64-linux'
export system
runHook ()
{
 
    eval "$shellHook";
    unset runHook
}
PATH="$PATH:$nix_saved_PATH"
XDG_DATA_DIRS="$XDG_DATA_DIRS:$nix_saved_XDG_DATA_DIRS"
export NIX_BUILD_TOP="$(mktemp -d -t nix-shell.XXXXXX)"
export TMP="$NIX_BUILD_TOP"
export TMPDIR="$NIX_BUILD_TOP"
export TEMP="$NIX_BUILD_TOP"
export TEMPDIR="$NIX_BUILD_TOP"
eval "$shellHook"
