.wide-header {
  display: flex;

  > .releases-info {
    margin-inline-start: auto;
  }
}

.more-posts {
  display: flex;
  flex-direction: column;
  gap: var(--block-flow-sm);

  > .post-micro-teaser {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "date taxonomy"
      "title title";
    align-items: baseline;
    gap: var(--padding-xxs) var(--padding-xs);

    > .post-date {
      grid-area: date;
    }

    > .post-title {
      grid-area: title;
    }

    > .taxonomy {
      grid-area: taxonomy;
    }
  }
}

.releases-info {
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-xs);
  border-radius: 4px;

  > strong {
    @extend .h4;
  }

  > .hex {
    margin-bottom: var(--padding-sm);
  }
}
