article {
  padding: 50px 0;

  header {
    padding-top: 0;
    width: 100%;

    h2 {
      font: normal 24px/30px var(--sans);
      color: var(--light-gray);
      margin: 0 0 0 40px;
    }
    a {
      padding: 0 0 0 40px;
      font: normal 18px/30px var(--sans);
      text-decoration: none;
    }
  }
  p {
    color: var(--light-gray);
    a {
      color: #000;
      text-decoration: underline;
    }
  }
}
