.book {
  margin-left: 76px;

  h1 {
    margin-bottom: 56px;
    color: #000000;
  }

  h2 {
    margin-bottom: 56px;
    color: #000000;
  }

  p {
    color: #000000;
    font-size: 24px;
  }

  .wrapper {
    overflow: auto;
  }

  .right-text {
    margin-top: 177px;
    margin-left: 732px;
    width: 456px;
  }

  .cover {
    height: 666px;
    width: 541px;
    float: left;
    margin-bottom: 65px;
  }

  .banner.sponsorship {
    margin-left: -76px;
    margin-top: 90px;
    border-top: 1px solid $light-gray;
  }

  .flag {
    font-size: 18px;
    background-color: $white;
    line-height: 30px;
    border-radius: 35px;
    border: 1px solid $light-gray;
    display: inline-block;
    padding: 2px 25px;
    white-space: nowrap;
    z-index: 1;
    transform: translateY(-50%);
  }

  .polygon {
    height: 48px;
    width: 48px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  td {
    vertical-align: top;
  }

  .tdtext {
    padding-left: 12px;
    padding-right: 80px;
    color: #000000;
    font-size: 18px;
  }

  .team-member {
    display: flex;
    align-items: flex-start;

    >img {
      grid-column: 1;
      grid-row-start: 1;
      grid-row-end: 5;
      width: 96px;
      height: 96px;
      object-fit: cover;
      margin-right: 47px;

      border-radius: 50%;
    }

    .team-member__inner {
      display: flex;
      //flex-direction: column;
    }

    .member_name {
      font-size: 1.2em;
      line-height: 1.3;
    }
  }

}