body.home {
  nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9;

    ul {
      width: fit-content;
      margin: 0 auto;
    }
    li {
      display: inline-flex;

      a {
        height: 67px;
        line-height: 67px;
        color: #fff;
        padding: 0 15px;
      }
    }
  }
}

header {
  padding: 80px 0 60px;
}

.examples {
  padding: 40px 0;

  input {
    display: none;
  }

  .description {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 340px;
    margin-top: 40px;

    article {
      width: 100%;
      transform: translateX(-105%);
      transition: transform .5s;
      position: absolute;
      left: 0;
      top: 0;
      color: #fff;
      background: #000;

      h2 {
        font-weight: 300;
      }
      a:not(.ico) {
        color: #fff;
      }
      a.ico {
        padding: 0 0 0 30px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  .code {
    overflow: hidden;
    width: 100%;

    .code_section {
      position: absolute;
      left: 0;
      top: calc( 100% * -10 );
      opacity: 0;
      transition: opacity .5s;
      width: 100%;
      z-index:1;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.1);
    }
  }
  .inner {
    height: fit-content;
  }
  input:nth-child(1):checked ~ .grid .description article:nth-child(1),
  input:nth-child(2):checked ~ .grid .description article:nth-child(2),
  input:nth-child(3):checked ~ .grid .description article:nth-child(3),
  input:nth-child(4):checked ~ .grid .description article:nth-child(4),
  input:nth-child(5):checked ~ .grid .description article:nth-child(5),
  input:nth-child(6):checked ~ .grid .description article:nth-child(6),
  input:nth-child(7):checked ~ .grid .description article:nth-child(7),
  input:nth-child(8):checked ~ .grid .description article:nth-child(8)
  input:nth-child(9):checked ~ .grid .description article:nth-child(9)
  input:nth-child(10):checked ~ .grid .description article:nth-child(10) {
    transform: translateX(0);
  }
  input:nth-child(1):checked ~ .grid .code div.code_section:nth-child(1),
  input:nth-child(2):checked ~ .grid .code div.code_section:nth-child(2),
  input:nth-child(3):checked ~ .grid .code div.code_section:nth-child(3),
  input:nth-child(4):checked ~ .grid .code div.code_section:nth-child(4),
  input:nth-child(5):checked ~ .grid .code div.code_section:nth-child(5),
  input:nth-child(6):checked ~ .grid .code div.code_section:nth-child(6),
  input:nth-child(7):checked ~ .grid .code div.code_section:nth-child(7),
  input:nth-child(8):checked ~ .grid .code div.code_section:nth-child(8),
  input:nth-child(9):checked ~ .grid .code div.code_section:nth-child(9),
  input:nth-child(10):checked ~ .grid .code div.code_section:nth-child(10) {
    position: inherit;
    opacity: 1;
    display: grid;
  }
  input:nth-child(1):checked ~ .grid .controls li:nth-child(1) label,
  input:nth-child(2):checked ~ .grid .controls li:nth-child(2) label,
  input:nth-child(3):checked ~ .grid .controls li:nth-child(3) label,
  input:nth-child(4):checked ~ .grid .controls li:nth-child(4) label,
  input:nth-child(5):checked ~ .grid .controls li:nth-child(5) label,
  input:nth-child(6):checked ~ .grid .controls li:nth-child(6) label,
  input:nth-child(7):checked ~ .grid .controls li:nth-child(7) label,
  input:nth-child(8):checked ~ .grid .controls li:nth-child(8) label,
  input:nth-child(9):checked ~ .grid .controls li:nth-child(9) label,
  input:nth-child(10):checked ~ .grid .controls li:nth-child(10) label {
    background: #1A1A1A;
    color: #fff;
  }
  .controls {
    li {
      display: inline-flex;
      label {
        color: rgba(255,255,255,0.5);
        cursor: pointer;
        border-radius: 0 0 4px 4px;
        padding: 16px;
        text-transform: uppercase;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
      }
    }
  }
}

.controls {
  color: #fff;
}

.code_section {
  background: #141414;
  border-radius: 2px;
}

.pattern {
  background: #000 url("/assets/crystal-pattern.png") no-repeat;
  background-image: url("/assets/crystal-pattern.webp");
  background-size: 60% auto;
  background-position: left top;
}

.git-star {
  position: absolute;
  top: 20px;
  right: 15px;
}
.brand-logo {
  color: #fff;
  display: grid;
  justify-items: center;

  canvas {
    margin: 0 0 20px;
  }

  h1 {
    background: url('/assets/typo.svg') no-repeat;
    height: 39px;
    width: 212px;
    overflow: hidden;
    text-indent: -99em;
    background-size: auto 100%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(1deg) brightness(103%) contrast(102%);
  }
  a {
    color: #fff;
    font: normal 14px var(--sans);
    text-decoration: underline;
  }
}

.actions {
  width: 70%;
  display: grid;
  align-content: center;
  margin: 80px auto 0;

  strong {
    /* I changed the font-weight to be similar to visual aspect of invisionapp */
    font: 300 36px var(--sans);
    color: #fff;
    margin: 0 0 39px;
  }

  .hex {
    span {
      background: #000;
      color: #fff;
    }
    &.border {
      filter: drop-shadow(-1px 0 0 rgba(255,255,255,0.15)) drop-shadow(1px 0 0 rgba(255,255,255,0.15));

      span {
        filter: drop-shadow(0 -1px 0 rgba(255,255,255,0.1)) drop-shadow(0 1px 0 rgba(255,255,255,0.1));
      }
    }
    &:hover {
      filter: drop-shadow(-1px 0 0 rgba(255,255,255,0.45)) drop-shadow(1px 0 0 rgba(255,255,255,0.45));

      span {
        filter: drop-shadow(0 -1px 0 rgba(255,255,255,0.4)) drop-shadow(0 1px 0 rgba(255,255,255,0.4));
      }
    }
    &:after {
      border-color: transparent transparent transparent #000;
    }
    &:before {
      border-color: transparent #000 transparent transparent;
    }
  }
}

.topics {
  h2 {
    font: bold 18px var(--sans);
  }
  p {
    height: 60px;
  }
  h2, p, a {
    padding: 0 40px 0 40px;
  }
}

.more {
  margin: 20px 0 0 0;
  display: block;
  color: var(--light-gray);
  text-decoration: underline;
  font-size: 18px;
}

.success {
  h1 {
    font: normal 36px var(--sans);
    color: var(--light-gray);
    margin: 80px 0 30px 0;
  }

  article {
    h2 {
      font-size: 22px;
      line-height: 28px;
      margin-top: 30px;
    }
  }
}
.top-sponsors {

  .above {
    left: calc( 50% - 144px );
  }
  ul {
    width: 70%;
    margin: 0 auto;
  }
  &.separator {
    padding: 70px 0 0;

    &:before {
      margin: -70px 0 70px;
    }

    span:after {
      content: "Meet all";
    }
  }
  a {
    text-align: center;
    h2 {
      font-size: 14px;
    }
    &:hover {
      img {
        filter: none;
      }
    }
  }
  picture {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    // filter: invert(0%) sepia(95%) saturate(21%) hue-rotate(2deg) brightness(0%) contrast(107%);
    filter: grayscale(1);
    width: 78px;
    height: auto;
    transition: filter .3s;
  }
}

@media only screen and (max-width: 768px) {
  body.home nav li a {
    color: #000;
  }
  .git-star {
    right: unset;
    left: 20px;
  }
  .pattern {
    background: #000 url("/assets/home/pattern-portrait.png") no-repeat;
    background-size: 100% auto;
  }
  header {
    padding-top: 150px;
  }
  .examples {
    .inner {
      width: 800px;
    }
    .controls {
      width: 800px;
      li {
        label {
          max-width: 100px;
          font-size: 13px;
        }
      }
    }
    .code {
      overflow-x: auto;
      overflow-y: visible;
      width: calc( 100vw - 12px );
    }
    .description {
      margin: 0;
      article {
        left: 12px;
        width: calc( 100vw - 24px );
      }
    }
  }
  .actions {
    text-align: center;
    strong {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .topics {
    article {
      text-align: center;
      margin-bottom: 50px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .ico {
      background-position: top center;
    }
    h2 {
      padding: 40px 40px 0 40px;
    }
  }
  footer .channels li {
    margin: 10px 0 0 12px;
  }
}

@import "pages/post_list";
@import "pages/post_header";
// @import "components/code";
@import "components/codemirror";
@import "components/codemirror-theme";
@import "components/carcin-play"
