.install-panels {
  display: grid;
  column-gap: var(--padding-xs);
  grid-template-columns: [section] 1fr [title] 1.8fr [version] 4ch [command] 4fr [info] 2.5ch [end];
  margin-block-start: var(--block-flow-sm);
}

.install-group {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  border-top: 1.4px solid var(--border-color);
  align-items: baseline;
}
.install-group > h5 {
  grid-column: section;
}

.install-entries {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: title / end;
}

.install-entry {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-areas: "title version command info";
  grid-column: 1 / -1;
  --link-color: var(--body-text);
  align-items: baseline;
  padding: 0.5ch 0;

  &:not(:first-child) {
    border-top: 1.4px solid var(--border-color);
  }
  :any-link {
    text-decoration: underline;
    text-decoration-thickness: 1.4px;
  }
  > .title {
    grid-area: title;
  }
  > .highlight {
    grid-area: command;
    > pre {
      padding: var(--padding-xs);
    }
  }
  > .repo-badge {
    grid-area: version;
    justify-self: flex-end;
  }
  > p {
    grid-area: command;
    padding: calc(var(--padding-xs) * 0.6);
  }
  > .instructions {
    grid-area: instructions;
    justify-self: flex-start;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 85%;
    /*---.btn */
    border: 1px solid currentColor;
    padding: 0 var(--padding-xs);
    margin-top: var(--padding-xs);
    align-content: center;
    align-self: flex-end;
    --link-color: var(--body-text);
    --link-hover-color: var(--light-text);
  }
  > .info {
    grid-area: info;
    font-size: 90%;
    justify-self: flex-end;
    --link-color: var(--lighter-text);
    --link-hover-color: var(--light-text);
    > svg {
      transform: translateY(0.6ch);
    }
  }
}

img[src^="https://repology.org/badge"]
{
  display: inline-block;
  vertical-align: sub;
  filter: saturate(2) contrast(2) sepia(0.6);
}
