.info {
  display: grid;
  grid-template-areas: "avatar info";
  grid-template-columns: 100px auto;
  font: normal 14px/18px var(--sans);

  div {
    position: relative;
  }

  picture {
    grid-area: "avatar";
    z-index: 9;
    margin-left: 50px;

    img {
      border-radius: 50%;
      width: 34px;
      height: 34px;
    }
    &.multi {
      &:nth-child(1) {
        position: absolute;
        right: 35px;
        z-index: 8;
        margin-left: 0px;
      }
    }
  }

  address {
    font-style: normal;
  }
  time {
    color: var(--light-gray);
  }
}

.medium {
  .info {
    grid-template-columns: 70px auto;
    picture {
      margin-left: 20px;
    }
  }
  header {
    padding: 0;
  }
  h2 {
    font-size: 24px;
    margin: 0 0 0 70px;
  }
}
