.info {
  display: grid;
  grid-template-areas: "avatar info";
  grid-template-columns: 100px auto;
  font: normal 14px/18px var(--sans);

  div {
    position: relative;
  }

  picture {
    grid-area: "avatar";
    z-index: 9;
    margin-left: 50px;

    img {
      border-radius: 50%;
      width: 34px;
      height: 34px;
    }
    &.multi {
      &:nth-child(1) {
        position: absolute;
        right: 35px;
        z-index: 8;
        margin-left: 0px;
      }
    }
  }

  address {
    font-style: normal;
  }
  time {
    color: var(--light-gray);
  }
}

.small,
.big,
.medium {
  .info {
    grid-template-columns: 70px auto;
    picture {
      margin-left: 20px;
    }
  }
  header {
    padding: 0;
  }
  h2 {
    font-size: 24px;
    margin: 0 0 0 70px;
  }
}
.big {
  h2 {
    font-size: 48px;
    line-height: 60px;
  }
  p {
    margin: 0 0 0 70px;
  }
}
.small {
  time {
    margin-left: 70px;
    color: var(--light-gray);
  }
}

@media only screen and (max-width: 768px) {
  .small,
  .big,
  .medium {
    .info {
      grid-template-columns: 44px auto;
      width: calc( 100vw - 12px );
      margin-right: 12px;
      picture {
        margin-left: 0px;

        &.multi:nth-child(1) {
          top: 40px;
          right: 10px;
        }
      }
    }
    header {
      padding: 0;
    }
    h2 {
      font-size: 20px;
      line-height: 26px;
      margin: 0 0 5px 44px;
    }
  }
  .big {
    h2 {
      font-size: 40px;
      line-height: 60px;
    }
    p {
      margin: 0 0 0 44px;
    }
  }
  .small {
    time {
      margin-left: 50px;
      color: var(--light-gray);
    }
  }
}
