header {

  h1 {
    padding: 0 100px;
    margin-bottom: 69px;
  }
}

article {

  .grid.sidebar {
    grid-template-columns: 75px 1fr;
  }

  .content {
    overflow: hidden;
    
    font: normal 24px/36px var(--sans);
    p {
      font: normal 24px/36px var(--sans);
    }
    a {
      color: #03A9F4;
    }
    .release-links {
      margin: 0 0 15px;

      a {
        color: #000;
      }
    }
    h2 {
      color: var(--light-gray);
      font: normal 36px/39px var(--sans);
      margin-top: 80px;
    }
    h3 {
      color: var(--light-gray);
      font: normal 28px/32px var(--sans);
      margin-top: 80px;
    }
    ol, ul {
      margin: 40px 0;
    }
  }
}

aside {
  p {
    font-size: 14px;
    color: var(--light-gray);
  }
  a {
    margin-bottom: 20px;
    position: relative;
  }
}

.excerpt {
  padding: 0 0 60px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 0 0 60px;
}
.pages {
  font-size: 18px;
  width: auto;
  overflow: hidden;
  padding-left: 100px;

  a {
    margin: 1em 0;
    padding: 0 30px;
    position: relative;
    text-decoration: underline;
    color: var(--light-gray);

    &:before {
      border: solid #979797;
      content: '';
      border-width: 0 4px 4px 0;
      padding: 4px;
      position: absolute;
    }
  }

  .prev {
    text-align: right;

    &:before {
      transform: rotate(-45deg);
      top: 4px;
      right: 5px;
    }
  }
  .next {
    &:before {
      transform: rotate(135deg);
      top: 4px;
      left: 5px;
    }
  }
}

.release-links {
  font-size: 18px;

  li {
    display: inline-block;
    margin-right: 48px;
  }
  a {
    padding-left: 30px;

    &:hover {
      text-decoration: underline;
    }
  }
}

article .sponsors h2 {
  margin-top: 30px;
}
.sponsors {
  background: rgba(0,0,0,.05);
  padding: 0;

  header {
    padding: 0 30px;
    border-bottom: 1px solid rgba(0,0,0,.1);

    h2 {
      margin: 0;
      color: var(--light-gray);
      line-height: 98px;
    }
    .hex {
      margin: 25px 0;
      span {
        text-transform: uppercase;
        color: #000;
        font-weight: bold;
        font-size: 18px;
        padding: 0 20px;
      }
    }
  }
  p {
    color: var(--light-gray);
    padding: 35px 30px 40px;
    line-height: 24px;

    a {
      color: #000;
      text-decoration: underline;
    }
  }
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ee6e73;
}

footer {
    margin: 80px 0 0 100px;
}
@import "pages/post_header"
