table.releases {
  @extend .table;

  --link-color: var(--primary-text);
  --link-hover-color: var(--light-text);

  tr {
    border-left: 0.5ch solid transparent;
    &.latest-release {
      border-left-color: currentcolor;
    }

    &:not(.minor-release) th {
      font-weight: 400;
      --link-color: var(--light-text);
    }
  }

  > tbody > tr:hover {
    background-color: var(--highlight-bg);
  }

  td.release-date {
    width: 0;
    text-align: right;
    padding-right: 0;
    white-space: nowrap;
  }

  .release-links {
    &:not(:hover) {
      > a {
        opacity: 0.25;
      }
    }
  }
}
