table.releases {
  @extend .table;

  --link-color: var(--primary-text);
  --link-hover-color: var(--light-text);

  > tbody > tr {
    border-left: 0.5ch solid transparent;
    &.latest-release {
      border-left-color: currentcolor;
    }

    &:not(.minor-release) th {
      font-weight: 400;
      --link-color: var(--light-text);
      padding-left: 2.5ch;
      font-size: font-size(xsmall);
    }
  }

  > tbody > tr:hover {
    background-color: var(--highlight-bg);
  }

  td.release-date {
    width: 0;
    text-align: right;
    padding-right: 0;
    white-space: nowrap;
    font-size: font-size(xsmall);
  }

  .release-links:not(:hover) {
    opacity: 0.25;
  }
}

.release-highlights {
  &:not(:has(.release-date)) {
    border-block: 1px solid var(--alabaster);
    padding-block: var(--padding-sm);
  }

  > h2:not(:has(.release-date)) {
    display: none;
  }

  + .release-highlights {
    border-block-start: 1px solid var(--alabaster);
    padding-block-start: var(--block-flow, var(--block-flow-sm));
  }

  &:has(.release-date) {
    > h2 {
      font-size: 1em;
      font-weight: 500;
      color: var(--light-text);
      margin-block-end: var(--padding-sm);

      > .release-date {
        color: var(--lighter-text);
        font-weight: 400;
      }
    }
  }

  > ul {
    padding-inline: 0;
    margin-block: 0;

    > li {
      > .highlight {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: var(--padding-xxs);
      }
    }
  }
}
