#sponsors-tbl {
  th,
  td {
    &.currency,
    &.since {
      text-align: right;
    }

    &.since {
      white-space: nowrap;
    }

    &.name {
      display: grid;
      padding: 0;
      grid-template-columns: calc(2em + var(--padding-sm)) 1fr;
      grid-gap: var(--padding-sm);
      align-items: center;

      &[scope="row"] {
        font-weight: unset;
      }

      > * {
        padding-block: var(--padding-sm);
      }

      > a {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/-1;
        align-items: center;
      }

      img {
        justify-self: end;
      }

      span {
        grid-column-start: 2;
      }
    }
  }

  > thead > tr {
    background: none;
    > th {
      white-space: nowrap;
      &:not(:first-child) {
        cursor: pointer;
        position: relative;

        &::before,
        &::after {
          border: 4px solid transparent;
          content: "";
          display: block;
          height: 0;
          right: 0;
          top: 50%;
          position: absolute;
          width: 0;
        }

        &::before {
          &[aria-sort="ascending"] {
            border-bottom-color: #666;
          }

          border-bottom-color: rgb(0 0 0 / 10%);
          margin-top: -9px;
        }

        &::after {
          border-top-color: rgb(0 0 0 / 10%);
          margin-top: 1px;

          &[aria-sort="descending"] {
            border-top-color: #666;
          }
        }
      }
    }
  }

  img {
    @include circle-image;
    width: 2em;
    min-width: 1.5em;
  }

  tr:not(:hover) img {
    filter: grayscale(1) opacity(0.8);
  }
}

.faq {
  color: var(--lighter-text);
}
