.cards {
  display: flex;
  flex-direction: row;
  grid-gap: 24px;
  flex-wrap: wrap;

  li {
    display: inline-flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.1);
    padding: 15px 12px;
    width: 156px;
    height: 232px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    img {
      border-radius: 50%;
      width: 78px;
      height: 78px;
    }
    h2 {
      font: bold 18px/20px var(--sans);
      margin: 13px 0 0;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
    .profiles {
      p {
        color: var(--light-gray);
        margin: 0 0 5px;
      }
      a {
        text-indent: -999em;
        overflow: hidden;
        display: inline-block;
        width: 26px;
        height: 22px;
        margin: 0 3px;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.alumni {
  h2 {
    font: normal 24px var(--sans);
    color: var(--light-gray);
    margin: 0 0 5px;
  }
  ul {
    margin: 40px 0 0;
  }
  li {
    display: inline-block;

    img {
      float: left;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 12px;
    }
    h3 {
      font: bold 18px/20px var(--sans);
      margin: 5px 0 0;
    }
    a {
      font: regular 14px var(--sans);
      color: var(--light-gray);
    }
  }
}

.list {
  grid-gap: 100px;

  .info {
    color: var(--light-gray);

    h2 {
      margin: 0 0 15px;
    }
  }
}
