.blog-post{
  .author {
    .author_name {
      color: $black;
      display: block;
    }
    .date {
      display: block;
    }
  }

  .title {
    font-size: 22px;
  }
  p.summary {
    margin-top: 5px;
  }
}
