.author {
  .author_name {
    color: $black;
    display: block;
  }
  .date {
    display: block;
  }
}

.blog-post {
  .title {
    font-size: 22px;
  }
  p.summary {
    margin-top: 5px;
  }
}

.post-header {
  min-height: 380px;
  // Vertical align materialize helpers was breaking with font size changes
  // So this is a hack to vertically align + add the margin that gets lost on changing the display property
  // Container limits width to 70%, this is half that (left side) + the padding being ignored.
  display: inline-flex;
  margin-left: calc(15% + 12px);

  .row {
    margin: auto 5px;
  }

  .title {
    color: $black;
    font-size: 48px;
  }
}

.post-layout {
  color: black;
  a {
    color: black;
  }

  ol {
    padding: 0;
    counter-reset: item;
    list-style-type: none;
    li {
      padding-left: 2.5em;
    }
    li:before {
      display: inline-block;
      content: counter(item) ".";
      counter-increment: item;
      width: 1.5em;
      margin-left: -1.5em;
      font-weight: 500;
      color: $primary-text;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    li {
      padding-left: 2.5em;
    }
    li:before {
      display: inline-block;
      content: "▪";
      width: 1.5em;
      margin-left: -1.5em;
      font-weight: 500;
      color: $primary-text;
    }
  }
  h1 {
    @extend h2;
    margin-top: 100px;
  }
}

.disqus {
  margin-top: 100px;
}
