.main {
  // Changes to the default layout for main page
  .header-section {
    background-color: transparent;
    h1.title {
      color: $white;
    }
    .subtitle {
      margin-bottom: 40px;
    }
    p.main-actions {
      .btn {
        margin-right: 15px;
      }
    }
  }

  nav {
    background-color: transparent;
    border-bottom: 0px;

    ul#nav-desktop li a {
      color: $white;
      &:hover {
        border-color: $white;
      }
      &.selected {
        border-bottom: 5px solid $white;
      }
    }
  }

  canvas.delaunay {
    position: absolute;
    top: 0;
    background-color: $black;
    z-index: -1;
  }
  .container {
    width: 100%;
    max-width: none;
  }
  .container > .row:not(.banner) {
    // Removed container width for the banners,
    // so this is making up for it.
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .sponsors-list {
    text-align: center;
    border-bottom: 1px solid $light-gray;
  }
  .sponsor {
    display: inline-block;
    margin: 40px 90px;
    text-align: center;
    position: relative;
    img {
      width: 96px;
      height: 96px;
      display: block;
      @include grayscale(100%);
      @include border-radius(50%);
      margin: 20px auto 50px auto;
    }
    &:hover {
      img {
        @include grayscale(0%);
      }
    }
  }

  .community-list {
    text-align: center;

    .item {
      display: inline-block;
      margin: 45px 0 0 0;
      text-align: left;
      span.small {
        display: block;
        margin: 5px 0;
      }
      span.with_icon {
        color: $black;
      }
    }
  }

  h2 {
    margin: 100px 0 30px 0;
  }

  .banner {
    margin-top: 100px;

    .line-through {
      width: 100%;
      position: relative;
      &:before {
        border-top: 1px solid $light-gray;
        content:"";
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
      }
    }
    .flag {
      border-top: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
      z-index: 1;
      display: inline;
      padding: 8px 5px;
      background-color: $white;
      margin: 0 calc(50% - 100px);
      line-height: 36px;
      position: relative;
      h3 {
        display: inline-block;
        background-color: $white;
        margin-top: 0;
      }
      a {
        border-bottom: 1px solid $primary-text;
        margin-left: 8px;
      }
      &:before, &:after {
        content: "";
        border: 1px solid $light-gray;
        background-color: $white;
        height: 37px;
        width: 39px;
        position: absolute;
        bottom: -1px;
        z-index: -1;
      }
      &:before {
        border-right: 0;
        @include border-radius(50% 0 0 50%);
        left: -16px;
      }
      &:after {
        border-left: 0;
        @include border-radius(0 50% 50% 0);
        right: -16px;
      }
    }
  }

  .banner.bountysource {
    // Height of the banner + the nav
    // top: calc(75% + 96px);
    // position: absolute;
    margin-top: 0;
    .bountysource-logo {
      height: 25px;
    }
    .flag {
      margin: 0 calc(50% - 230px);
      a { border-bottom: 0; }
    }
  }

  .btn-flat {
    border: 2px solid $white;
    color: $white;
    padding: 0 42px;
    &:active {
      background-color: $black;
    }
    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}
