.main {
  // Changes to the default layout for main page
  .header-section {
    background-color: transparent;
    // height: calc(70vh - 175px); // without codecamp banner
    height: calc(70vh - 160px); // with codecamp banner
    // min-height: 485px; // without codecamp banner
    min-height: 534px; // with codecamp banner
    h1.title {
      color: $white;
    }
    .subtitle {
      margin-bottom: 40px;
    }
    p.main-actions {
      .btn {
        margin-right: 15px;
      }
    }
  }

  nav {
    background-color: transparent;
    border-bottom: 0px;
    position: relative;
    text-align: center;
    z-index: 1000;


    ul#nav-desktop {
      display: inline-block;
      float: none !important;
      margin: 0 auto !important;
      li a {
        color: $white;
        &:hover {
          border-color: $white;
        }
        &.selected {
          border-bottom: 5px solid $white;
        }
      }
    }
    a.button-collapse {
      color: $white;
    }
  }
  #crystal-container {
    text-align: center;
    margin-bottom: 15px;
    #Crystal {
      fill: #ffffff;
    }
  }
  #logo-container {
    width: 160px;
    height: 160px;
    #logo-canvas {
      width: 150px;
      height: 150px;
    }
  }

  #delaunay {
    @extend .black;
    position: absolute;
    // top: 0;// without codecamp banner
    top: 60px; // with codecamp banner
    right: 0;
    // min-height: 600px; // without codecamp banner
    min-height: 630px; // with codecamp banner
    // height: 70vh; // with codecamp banner
    height: calc(70vh - 60px); // with codecamp banner
    left: 0;
    z-index: -1;
  }

  canvas.delaunay {
    position: absolute;
    background-color: $black;
  }

  .container {
    // Removed container width for the banners,
    // so this is making up for it.
    width: 70%;
    max-width: 1280px;
    margin: 0 auto;
  }

  @media only screen and (max-width: 992px) {
    // The 70% fix for container should be undone in mobile.
    .container {
      width: 90%;
    }
  }

  p.read-more > a {
    word-break: break-all;
  }

  .sponsors-list {
    text-align: center;
    // border-bottom: 1px solid $light-gray;
  }
  .sponsor {
    display: inline-block;
    margin: 40px 90px;
    text-align: center;
    position: relative;
    img {
      width: 96px;
      height: 96px;
      display: block;
      @include grayscale(100%);
      @include border-radius(50%);
      margin: 20px auto 50px auto;
    }
    &:hover {
      img {
        @include grayscale(0%);
      }
    }
  }

  .community-list {
    text-align: center;

    .item {
      display: inline-block;
      margin: 45px 0 0 0;
      text-align: left;
      span.small {
        display: block;
        margin: 5px 0;
      }
      span.with_icon {
        color: $black;
      }
    }
  }

  h2 {
    margin: 100px 0 30px 0;
  }
  hr.fullwidth {
    background: $light-gray;
    position: absolute;
    left: 0;
    width: 100%;
    border: none;
    height: 1px;
  }

  .flag {
    background-color: $white;
    line-height: 30px;
    border-radius: 35px;
    border: 1px solid $light-gray;
    display: inline-block;
    padding: 2px 25px;
    white-space: nowrap;
    z-index: 1;
    h3 {
      display: inline-block;
      background-color: $white;
      margin-top: 0;
    }
    a {
      border-bottom: 1px solid $primary-text;
      margin-left: 8px;
    }
    &:before {
      content:"";
      display: block;
      border-top: 1px solid $light-gray;
      position: absolute;
      margin-top: 15px;
      width: 100%;
      left: 0;
      z-index: -1;
    }
  }


  .banner.bountysource {
    margin-top: -18px;
    .bountysource-logo {
      height: 25px;
    }
    .flag {
      a { border-bottom: 0; }
    }
  }

  .btn-flat {
    border: 2px solid $white;
    color: $white;
    padding: 0 42px;
    &:active {
      background-color: $black;
    }
    &:hover {
      color: $black;
      background-color: $white;
    }
  }

  @media only screen and (max-width: 992px) {
    .btn-flat {
      display: block;
      width: 70%;
      margin-right: 0;
      margin: 0 auto 1rem !important;
    }
  }

  #benchmark {
    svg {
      shape-rendering: crispEdges;
      width: 100% !important;

      h1 {
        margin: 0;
        padding: 0.1rem 0.4rem;
        font-size: 1rem;
        font-weight: 500;
        text-align: right;
      }

      .widget {
        display: inline-block;
        border: 1px solid #AAA;
        background: white;
      }

      .bar {
        fill: $chart;
      }

      .label {
        font-size: 12px;
        fill: #333333;
      }

      .axis-name {
        font-size: 11px;
        text-transform: uppercase;
      }

      .axis {
        text {
          font-size: 11px;
        }
        path {
          fill: none;
          opacity: 1;
          stroke: #E3E3E3;
        }
        .tick line {
          stroke-width: 1;
          stroke: #E3E3E3;
          opacity: 1;
        }
      }
    }
  }
}

.sf2017 {
  background: #828282;
  a {
    @extend .white-text;
    line-height: 56px;
    padding: 0 0 0 .3rem;
    height: 60px;
    display: block;
  }
  .row {
    margin-bottom: 0;
  }
  .col {
    padding-right: 0;
  }
  .crystal-codecamp {
    font-size: 1.15rem;
  }
  .sf {
    font-size: 1.15rem;
    font-weight: 200;
  }
  .date {
    font-size: .9rem;
  }
  .register {
    background: #9d9d9d;
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    display: inline-block;
    height: 60px;
    padding: 0 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
  }
  .register-mobile {
    @extend .white-text;
    background: #9d9d9d;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    padding: 5px;
    margin: 5px 0 0;
    box-sizing: border-box;
    span {
      font-style: italic;
    }
  }
}

@media only screen and (max-width: 840px) {
  // The 70% fix for container should be undone in mobile.
  .sf2017 {
    a {
      line-height: 1.2;
      height: auto;
      text-align: center;
      padding: 0;
    }

    .row {
      margin-bottom: 0;
    }

    .col {
      padding: 8px 0 0 !important;
    }

    .crystal-codecamp {
      font-size: 1rem !important;
    }
    .sf {
        font-size: 1rem !important;
      }
    .date {
      display: none;
    }
    .right {
      float: none !important;
    }
    .register-mobile {
      display: block;
    }
    .register {
      display: none;
    }
  }
}

@media only screen and (min-width: 841px) {
  .register-mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    nav {
      a.brand-logo {
        position: absolute;
        left: calc(50% - 15px);
        top: 2rem;
      }
    }
    .header-section.valign-wrapper {
      display: block;
    }
    #crystal-container {
      margin-bottom: 5px;
      #Crystal {
        width: 150px !important;
        height: auto !important;
      }
    }
    #logo-container {
      width: 110px;
      height: 110px;
      #logo-canvas {
        width: 100px;
        height: 100px;
      }
    }
  }
}
