.highlight {
  span.nb {
    color: #E45546;
  }
  span.s2, span.si {
    color: #51A24D;
  }
  span.nf {
    color: #4F72B7;
  }
  span.k {
    color: #9F3D96;
  }
  span.no {
    color: #000000;
  }
  span.mi {
    color: #976B29;
  }

  &.console {
    span.type {
      color: goldenrod;
    }
    span.marker {
      color: darkseagreen;
    }
  }

  code.language-javascript {
    span.nx, span.err {
      color: #E45546;
      background-color: white;
    }
    span.kr {
      color: #4F72B7;
    }
    span.mi {
      color: #9F3D96;
    }
    span.kd, span.k {
      color: #51A24D;
    }
    span.s2 {
      color: #4D70B6;
    }
  }
}

.code_section {
  border: 1px solid $light-gray;
  position: relative;
  &:before, &:after {
    content: "";
    border: solid 1px $light-gray;
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: $white;
  }
  &:before {
    top: -3px;
    left: -3px;
  }
  &:after {
    top: -3px;
    right: -3px;
  }

  ul + & {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
  }

  // This is a hack. Since I can't have 4 shapes in the code_section
  // I'm setting the lower two squares to be for the element inside
  .highlight {
    margin: 1.5em 0;
    code, pre {
      background-color: $white;
    }
    &:before, &:after {
      content: "";
      border: solid 1px $light-gray;
      width: 5px;
      height: 5px;
      position: absolute;
      background-color: $white;
    }
    &:before {
      bottom: -3px;
      left: -3px;
    }
    &:after {
      bottom: -3px;
      right: -3px;
    }
  }
}

code.highlighter-rouge {
  background-color: #E5E5E5;
  padding: 0 5px;
}
