@import
        "pygment_white",
        "materialize",
        "mixins",
        "reset";

// Variables
// --------------------------------------------------
$white:         #ffffff;
$black:         #000000;
$primary-text:  #777777;
$separator:     #EBEBEB;
$light-gray:    #D7D7D7;
$lighter-gray:  #CCCCCC;
$chart:         $lighter-gray;

// Fonts
// -----------
$sans:          'Roboto', Arial, Helvetica, sans-serif;
$codeFont:      'Roboto Mono', monospace;


// Generic classes: navigation and default layout
// --------------------------------------------------
@import "generic",
        "footer";


// Imports for specific pages and details
// -----------------------------------------
@import "sponsors",
        "sprites",
        "blog",
        "media",
        "install",
        "community",
        "pygment_overrides",
        "error",
        "home",
        "fullcalendar_overrides";
