@import
        "pygment_white",
        "materialize",
        "mixins",
        "reset";

// Variables
// --------------------------------------------------
$white:         #ffffff;
$black:         #000000;
$primary-text:  #777777;
$separator:     #EBEBEB;
$light-gray:    #D7D7D7;

$gray:          #5a5a5a;
$grayLight:     #e5e5e5;
$grayDark:      #999999;
$red:           #ef4123;
$green:         #12433e;
$yellow:        #faef49;
$version:       #b5b5b5;
$text:          #444444;
$link:          black;


// Fonts
// -----------
$sans:          'Roboto', Arial, Helvetica, sans-serif;
$codeFont:      'Roboto Mono', monospace;


// Generic classes: navigation and default layout
// --------------------------------------------------
@import "generic",
        "footer";


// Imports for specific pages and details
// -----------------------------------------
@import "sponsors",
        "sprites",
        "blog",
        "media",
        "community",
        "pygment_overrides",
        "home";

