---
title: "Building efficient, safe, and readable web and CLI applications with Crystal"
layout: wide
---

<div class="book-presenter">
  <div class="cover">
    <img src="/assets/learning/crystal_programming.png" />
  </div>

  <div class="description">
    <p>
      <strong>Crystal Programming</strong> is a project-based book by George Dietrich and Guilherme Bernal that covers all the
      fundamental concepts needed to start programming in Crystal, such as OOP and concurrent programming.
    </p>

    <p>You can get it from these vendors:</p>

    <div class="link-item">
      <a class="link-item__main" href="https://www.amazon.com/Crystal-Programming-project-based-introduction-applications/dp/1801818673/ref=sr_1_2">
        {% include icons/book.svg %}
        Buy on Amazon
      </a>
    </div>
    <div class="link-item">
      <a class="link-item__main" href="https://www.packtpub.com/product/crystal-programming/9781801818674">
        {% include icons/book.svg %}
        Buy on Packt
      </a>
    </div>
  </div>

  <div class="details">
    While focused towards those with programming experience, previous knowledge of Crystal itself is not required, as
    the book is outlined with step-by-step explanations of essential concepts and practical examples. By the end of
    this book, you’ll be equipped with the skills you need to use Crystal programming for building and understanding any
    application you come across.
  </div>
</div>

<section>
  <div class="full-width-rule">
    <div class="hex">
      <span>What you will learn</span>
    </div>
  </div>

  <div class="image-list">
    <div class="hex-icon">
      <div class="inner">
        {% include icons/merge-type.svg %}
      </div>
    </div>
    <div class="small">Explore how Crystal combines the merits of other languages</div>
    <div class="hex-icon">
      <div class="inner">
        {% include icons/folder.svg %}
      </div>
    </div>
    <div class="small">Understand how to leverage existing C libraries without writing any C</div>
    <div class="hex-icon">
      <div class="inner">
        {% include icons/update.svg %}
      </div>
    </div>
    <div class="small">Focus on zero-cost abstractions with compile-time macros</div>
    <div class="hex-icon">
      <div class="inner">
        {% include icons/code.svg %}
      </div>
    </div>
    <div class="small">Use an example-based approach to demonstrate language features</div>
    <div class="hex-icon">
      <div class="inner">
        {% include icons/apps.svg %}
      </div>
    </div>
    <div class="small">Develop a variety of Crystal applications, such as web and CLI apps</div>
    <div class="hex-icon">
      <div class="inner">
        {% include icons/library-books.svg %}
      </div>
    </div>
    <div class="small">Gain an understanding of the macro API and annotations</div>
  </div>

  <div class="full-width-rule">
  </div>
</section>


<section>
<h2>About the Authors</h3>
  <div class="book-authors">
    <div class="book-author">
      <div class="book-author-icon">
        <img class="book-author-icon" src="/assets/learning/george.png" />
      </div>
      <p class="small">
        <strong>George Dietrich</strong> is a software engineer, open-source aficionado, and Crystal community moderator. He
        holds a Master of Science degree in internet information systems and a Bachelor of Science degree in
        information sciences.
      </p>
    </div>

    <div class="book-author">
      <div class="book-author-icon">
        <img class="book-author-icon" src="/assets/learning/guilherme.jpg" />
      </div>
      <p class="small">
        <strong>Guilherme Bernal</strong> is the chief technology officer at Cubos Tecnologia. He holds a bachelor's
        degree in TI management. Guilherme co-founded a software development company
        and several tech start-ups, including one that focused on teaching programming
        skills to a new generation of developers. He is also a two-time world finalist
        in the coding competition, ACM ICPC.
      </p>
    </div>
  </div>
</section>

<div class="banner sponsorship">
</div>
