<div class="featured-posts {% if include.extra %}featured-posts--extra-highlight{% endif %}">
  {%- if include.extra %}
    {%- assign limit = 5 %}
  {%- else %}
    {%- assign limit = 4 %}
  {%- endif %}
  {%- assign posts = include.posts | default: site.posts %}
  {%- for post in posts limit: limit %}
  <div class="post-teaser">
    <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>

    {%- include posts/meta.html post=post %}

    <div class="excerpt">{{ post.summary | default: post.excerpt | markdownify }}</div>
  </div>
  {%- endfor %}
</div>
