---
title: Community
description: There are so many ways to get involved in Crystal. Here's a list of our main communication channels.
---
<div class="container">

{% include community_row.html
          title="Security Issues"
          divId="security"
          content="Should you find any security-related issue, please <strong>do not share them openly</strong> in the issue tracker. We have a dedicated mailbox where we keep track of them.<br /><br />
          You can encrypt your message <a href=\"https://keybase.io/crystal\" target=\"_blank\">via Keybase</a>, or standard PGP (our fingerprint is <code>5995 C83C D754 BE44 8164 1929 0961 7FD3 7CC0 6B54</code>)."
          link_text="security@manas.tech"
          url="mailto:security@manas.tech"
          icon="security"
%}

{% include community_row.html
          title="Code Repository"
          divId="code"
          content="The Crystal official code repository is on GitHub, so any bugs you find in either the language, compiler or standard library should be reported here - and pull requests are always welcome."
          link_text="crystal-lang/crystal"
          url="https://github.com/crystal-lang/crystal/"
          icon="github"
          custom_icon=true
%}

{% include community_row.html
          title="Forum"
          divId="discuss"
          content="The Crystal Forum is the first to-go place for any general discussion. Feel free to ask a question, share your project with others, ask for guidance and best practices, offer your help contributing to a project, or anything else Crystal-related."
          link_text="forum.crystal-lang.org"
          url="https://forum.crystal-lang.org"
          icon="forum"
%}

{% include community_row.html
          title="New Releases, Use Cases and more"
          divId="blog"
          content="In the official Crystal blog you can find the detailed announcements for new releases, some interesting use cases, the rationale behind some of the language's design decisions and things the team write around the code they usually write.<br/><br/>
          We also accept posts from guest writers, so if you have something awesome you have built with Crystal, <a href=\"mailto:crystal@manas.tech\" title=\"Or pick any other channel listed here\">contact us</a> and we'll be happy to have you featured on the blog."
          link_text="Crystal Blog"
          url="/blog"
          icon="chat_bubble_outline"
          internal_link="true"
%}

{% include community_row.html
          title="Chat Room"
          divId="chat"
          content="The Gitter room is the official chat room for Crystal. You can drop a quick question here to try and get it answered quickly, ask for guidance, or engage on a short discussion on a feature or project you are interested in. Make sure to keep the discussion organised, and consider using the mailing list if the chat drags for too long."
          link_text="crystal-lang/crystal"
          url="https://gitter.im/crystal-lang/crystal"
          icon="gitter"
          continues=true
          custom_icon=true
%}

{% include community_row.html
          title=""
          content="If you are more of an IRC kind of person, the channel at irc.freenode.net which keeps its logs in <a href=\"http://irclog.crystal-lang.org\">irclog.crystal-lang.org</a>, is bridged to the Gitter room, so anything sent on one channel is forwarded to the other one."
          link_text="#crystal-lang"
          url="https://webchat.freenode.net/?channels=%23crystal-lang"
          icon="web_asset"
%}

{% include community_row.html
          title="General Announcements and Events"
          divId="twitter"
          content="The Twitter account will often tweet general announcements on releases and events, and retweet any interesting articles from the tweetosphere. Be sure to mention it if you are tweeting about Crystal!"
          link_text="@CrystalLanguage"
          url="https://twitter.com/CrystalLanguage"
          icon="twitter"
          custom_icon=true
%}

{% include community_row.html
          title="Share Your Work"
          divId="reddit"
          content="The Crystal Programming subreddit contains announcements on new releases, interesting libraries, blog posts, and is in general a good place to share your work with the rest of the Crystal community."
          link_text="Crystal Programming"
          url="https://www.reddit.com/r/crystal_programming/"
          icon="reddit"
          custom_icon=true
%}

{% include community_row.html
          title="Ask For Help"
          divId="stackoverflow"
          content="Of course, there is a crystal-lang tag in StackOverflow. Ask for help with your Crystal project there, or help other people solve theirs - learning &amp; sharing all the way through."
          link_text="crystal-lang"
          url="https://stackoverflow.com/questions/tagged/crystal-lang?sort=newest"
          icon="stack_overflow"
          custom_icon=true
%}

{% include community_row.html
          title="Crystal Shards, Tools and Tutorials"
          divId="shards"
          content="Following the awesome-lists tradition, the awesome-crystal GitHub repository contains a curated list of Crystal shards, tools and tutorials. If you want your contribution to Crystal to be listed here, fork the repository, add it to the list and send a pull request."
          link_text="awesome-crystal"
          url="https://github.com/veelenga/awesome-crystal"
          icon="awesome"
          continues=true
          custom_icon=true
%}

{% include community_row.html
          title=""
          divId="shardbox"
          content="A database of Crystal shards. It helps developers to discover shards and the Shards ecosystem."
          link_text="Shardbox.org"
          url="https://shardbox.org/"
          continues=true
          icon="play_arrow"
%}

{% include community_row.html
          title=""
          content="View of all repositories on GitHub that have Crystal code in them and easily identify the dependencies and the associated releases."
          link_text="shards.info"
          url="http://shards.info/"
          continues=true
          icon="play_arrow"
%}

{% include community_row.html
          title=""
          content="The crystalshards.xyz service provides an uncurated view of all repositories on GitHub that have Crystal code in them.  With its search capability you can find the shard or application you're looking for."
          link_text="crystalshards.xyz"
          url="https://crystalshards.xyz"
          icon="play_arrow"
%}

{% include community_row.html
          title="Newsletter"
          divId="newsletter"
          content="Crystal Weekly summarizes every news of the Crystal community in a short, focused newsletter. You can subscribe to it and even see the past issues on the web."
          link_text="Crystal Weekly"
          url="http://www.crystalweekly.com/"
          icon="mail_outline"
%}

{% capture events_ical_url %}https://calendar.google.com/calendar/ical/{{ site.google_calendar_id | uri_escape }}/public/basic.ics{% endcapture %}

{% include community_row.html
          title="Events"
          divId="events"
          content="There are ongoing Crystal meetups on multiple cities around the globe, as well as online meetups, and Crystal presentations on programming conferences - there’s a good chance that you’ll find a Crystal talk at your nearest Rubyconf. Stay tuned for events near your location!
          <div id=\"calendar\"></div>"
          link_text="Crystal Events Calendar"
          url=events_ical_url
          icon="today"
%}

</div>

<link rel='stylesheet' href='/stylesheets/fullcalendar.css' />
<script src="/javascripts/fullcalendar-3.1.0/lib/moment.min.js"></script>
<script src="/javascripts/fullcalendar-3.1.0/fullcalendar.js"></script>
<script src="/javascripts/fullcalendar-3.1.0/gcal.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      googleCalendarApiKey: '{{ site.google_calendar_api_key }}',
      defaultView: 'listYear',
      header: false,
      height: 200,
      listDayFormat: false,
      listDayAltFormat: false,
      timeFormat: 'dddd DD MMM YYYY',
      noEventsMessage: "We don't have any Crystal event listed - let us know if there's one we're missing!",
      events: {
        googleCalendarId: '{{ site.google_calendar_id }}'
      }
    })
  });
</script>
