<nav class="breadcrumbs" aria-label="Breadcrumbs">
  {% capture separator %}<span aria-hidden="true">/</span>{% endcapture %}
  {%- assign page_title = nil -%}
  {%- assign page_nav = nil -%}

  <span class="breadcrumb">
    <a href="/" rel="index up">Home</a>
  </span>

  {% if include.page.section -%}
    {%- assign section = site.data.sections[include.page.section] -%}
    {% for item in section.breadcrumbs %}
      {% assign page_nav = item.nav %}
      {%- if item.url == include.page.url -%}
        {% assign page_title = item.title %}
        {% break %}
      {%- endif -%}

      {{ separator }}

      <div class="breadcrumb">
      {% if item.url -%}
        <a href="{{ item.url }}" rel="up">{{ item.title }}</a>
      {%- else -%}
        <span>{{ item.title }}</span>
      {%- endif %}
      </div>
    {% endfor %}
  {%- endif %}

  {% if page_title %}
    {{ separator }}

    <span class="breadcrumb">
      <a href="{{ include.page.url }}" aria-current="page">{{ page_title }}</a>
    </span>
  {% endif %}
</nav>

<nav class="section-links" aria-label="Section links">
  {% include site/nav_links.html section=page_nav %}
</nav>
