<div class="nav-start">
  <a class="site-logo" id="logo-container" {% if page.url != "/" %}href="/"{% endif %} aria-label="Homepage">
    <canvas height="70" id="logo-canvas" width="70" role="presentation"></canvas>

    {% if page.url == "/" %}
      {% include img/crystal-name-logo.svg %}
    {% endif %}
  </a>
</div>

{% if page.url == "/" %}
  <nav class="mainnav" aria-label="Main">
    {% include site/nav_links.html section="main" %}
  </nav>
{% else %}
  {% include site/breadcrumbs.html page=page %}
{% endif %}

<div class="utilnav">
  <a
    class="icon"
    href="https://github.com/crystal-lang/crystal"
    rel="me"
    title="Crystal repository on GitHub"
    aria-label="GitHub"
  >
    {% include icons/github.svg %}
  </a>
  <a
    class="icon"
    href="https://forum.crystal-lang.org/"
    rel="me"
    title="Crystal Forum"
    aria-label="Crystal Forum"
  >
    {% include icons/discourse.svg %}
  </a>
  <a
    class="icon"
    href="/feed.xml"
    rel="alternate"
    title="Newsfeed for Crystal blog posts and releases"
    aria-label="Newsfeed"
    type="application/atom+xml"
  >
    {% include icons/rss.svg %}
  </a>
</div>
