<div class="newsletter-form">
  <form
    action="https://tech.us6.list-manage.com/subscribe/post?u=68338ca88d5d6326c9a824317&amp;id=6f80e8b0be&amp;f_id=005a33e3f0"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_self"
    novalidate>
    <label for="mce-EMAIL">Subscribe to our <a href="/newsletter">newsletter</a></label>
    <input
        type="email" name="EMAIL" class="required email" id="mce-EMAIL" required value="" placeholder="E-Mail">
    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-flat btn-large hex">Submit</button>
    <div hidden>
      <input type="text" name="b_68338ca88d5d6326c9a824317_6f80e8b0be" tabindex="-1" value="" aria-labelledby="">
    </div>
  </form>
</div>
