.full-width-rule {
  display: grid;
  grid-template: "container";
  place-items: center;
  font-size: 1rem;

  &:before {
    content: "";
    display: block;
    position: absolute;
    inset-inline: 0;

    border-block-end: 0.16ch solid var(--border-color);
  }
}
