---
title: Sponsors
description: >
  <p>Building a programming language from scratch is not an easy feat. It takes long hours, quite a few headaches and some very talented developers. It’s also not cheap, and we don’t have the financial backing that a multinational corporation would: this project was funded with our own work and the contribution of a bunch of generous souls all over the globe.</p>
  <p>While we have a dedicated team working on the development of Crystal, we need all the help we can get to realize its potential, and below is a list of all the humans and organizations that have made it possible for us to get this far.</p>
layout: base
css: sponsors
custom_body_classes: sponsors
---
{% include header.html header_title=page.title %}

<main>

  <section class="grid sidebar bottom-line">

    <div class="card">
      <h2>Enterprise Support</h2>
      <p>Our Corporate Sponsorship tiers start at $5,000/month, but let’s talk and find a partnership model that suits you.</p>
      <a href="mailto:crystal@manas.tech" class="hex shadow btn"><span>Contact Us</span></a>
    </div>

    <div class="grid x3 best">
      {% for sp in site.data.sponsors limit:3 %}
      <a href="{{ sp.url }}" target="_blank">
        <picture>
          <img src="/assets/{{ sp.logo }}" alt="{{sp.name}}">
        </picture>
        <h3>{{ sp.name }}</h3>
        <p>{{ sp.last_payment | slice: 0 }}{{ sp.last_payment | slice: 1,10 | intcomma }} per month since {{ sp.since }}</p>
        <span>{{ sp.all_time | slice: 0 }}{{ sp.all_time | slice: 1,10 | intcomma }}</span>
      </a>
      {% endfor %}
    </div>
  </section>

  <hr class="separator full">

  <section class="grid sidebar">

    <div>
      <div class="card">
        <h2>Individual Support</h2>
        <p>Become a Crystal contributor in only 3 simple steps via OpenCollective.</p>
        <a href="https://opencollective.com/crystal-lang" class="hex shadow btn" target="_blank"><span>Contribute</span></a>
      </div>

      <div class="faq">
        <h2>FAQ</h2>

        <p class="bold">What is this list?</p>
        <p>These are the companies and individuals contributing a monthly amount to help sustain Crystal's development. See the Open Collective campaign for more details.</p>

        <p class="bold">I am a sponsor contributing $5/month, but my URL is not listed</p>
        <p>We grab the website and avatar from your Open Collective profile or your Bountysource profile. If that fails, we try to use your GitHub or Twitter accounts listed in that same profile. We update the current sponsors in this page every other week.</p>
        <p>If there is any mismatch information you would like to correct, please contact us.</p>
      </div>
    </div>

    <table id="sponsors-tbl">
      <thead>
        <th class="off"></th>
        <th><span>Enterprise Supporter</span></th>
        <th class='currency' data-sort-method='number' aria-sort="descending"><span>This month</span></th>
        <th class='currency' data-sort-method='number'><span>All time</span></th>
        <th class='since' data-sort-method='date'><span>Since</span></th>
      </thead>
      <tbody>
        {% for sp in site.data.sponsors %}
          {% if forloop.index > 3 %}
            <tr>
              <td class="logo">
                {% if sp.logo %}
                    {% if sp.url %}
                      <a href="{{sp.url}}" target="_blank" rel="sponsored nofollow">
                        <img  src="/assets/{{ sp.logo }}" loading="lazy" />
                      </a>
                    {% else %}
                      <img  src="/assets/{{ sp.logo }}" loading="lazy" />
                    {% endif %}
                {% else %}
                  &nbsp;
                {% endif %}
              </td>
              <td>
                {% if sp.url %}
                  <a href="{{sp.url}}" target="_blank" rel="sponsored nofollow"{% if sp.name.size >= 28 %} title="{{sp.name}}"{% endif %}>
                    {{sp.name}}
                  </a>
                {% else %}
                  {{sp.name}}
                {% endif %}
              </td>
              <td>
                {{ sp.last_payment | slice: 0 }}{{ sp.last_payment | slice: 1,10 | intcomma }}
              </td>
              <td>
                {{ sp.all_time | slice: 0 }}{{ sp.all_time | slice: 1,10 | intcomma }}
              </td>
              <td>
                {{sp.since}}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

  </section>

<script src="/assets/js/tablesort.js"></script>
<script>
  new Tablesort(document.getElementById('sponsors-tbl'));
</script>

</main>
