---
title: Sponsors
nav_order: 40
description: These are the companies and individuals contributing a monthly amount to help sustain Crystal's development.
---
<div class="container">

  <div class="row">
    <div class="col s12 m8">
      <table class="bordered">
        <thead>
          <th></th>
          <th>Supporter</th>
          <th>This month</th>
          <th>All time</th>
          <th>Since</th>
        </thead>
        <tbody>
          {% for sp in site.data.sponsors %}
            {% capture sponsor_class %}level-{{sp.level}} sponsor{% endcapture %}
            <tr class="{{sponsor_class}}">
              <td class="col-logo">
                {% if sp.logo %}
                  <div class="logo">
                    {% if sp.url %}
                      <a href="{{sp.url}}" target="_blank">
                        {% img '{{ assets[sp.logo].filename }}' %}
                      </a>
                    {% else %}
                      {% img '{{ assets[sp.logo].filename }}' %}
                    {% endif %}
                  </div>
                {% else %}
                  &nbsp;
                {% endif %}
              </td>
              <td class="name">
                {% if sp.url %}
                  <a href="{{sp.url}}" target="_blank">
                    {{sp.name}}
                  </a>
                {% else %}
                  {{sp.name}}
                {% endif %}
              </td>
              <td class="this_month">
                ${{sp.this_month}}
              </td>
              <td class="all_time">
                ${{sp.all_time}}
              </td>
              <td class="since">
                {{sp.since}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col s12 m3 offset-m1">
      <div class="row become-sponsor">
        <div class="col">
          <h2>Want to become a sponsor?</h2>
          <p>If you like this project and you see its potential, you can help. Every dollar counts!</p>
          <p>
            <a href="https://salt.bountysource.com/teams/crystal-lang" target="_blank" class="btn btn-flat btn-large">Donate</a>
          </p>
        </div>
      </div>

      <div class="row faq">
        <div class="col">
          <h2>FAQ</h2>

          <p>
            <h3>What is this list?</h3>
            These are the companies and individuals contributing a monthly amount to help sustain Crystal's development. See the Bountysource campaign for more details.
          </p>

          <p>
            <h3>I am a sponsor contributing $5/month, but my URL is not listed</h3>
            We grab the website and avatar from your <a class="bountysource-link" href="https://www.bountysource.com/settings" target="_blank">Bountysource profile</a>. If that fails, we try to use your GitHub or Twitter accounts listed in that same profile.
          </p>
          <p>
            We update the current sponsors in this page every other week.
          </p>
          <p>
            If there is any mismatch information you would like to correct, please <a href="mailto:crystal@manas.tech">contact us</a>.
          </p>
        </div>
      </div>
      <div class="row original">
          <div class="col">
            <h2>Original Sponsors</h2>
            <p>Meet our original sponsors <a href="original-sponsors.html">here</a></p>
          </div>
        </div>
    </div>
  </div>

</div>
