---
title: Sponsors
description: These are the companies and individuals that help sustain Crystal's development.
---
<script src='/javascripts/tablesort-5.2.1/tablesort.js'></script>
<script src='/javascripts/tablesort-5.2.1/sorts/tablesort.number.js'></script>
<script src='/javascripts/tablesort-5.2.1/sorts/tablesort.date.js'></script>

<div class="container">

  <div class="row">
    <div class="col s12 m8">
      <table class="bordered" id="sponsors-tbl">
        <thead>
          <th></th>
          <th>Supporter</th>
          <th class='currency' data-sort-method='number'>This month</th>
          <th class='currency' data-sort-method='number'>All time</th>
          <th class='since' data-sort-method='date'>Since</th>
        </thead>
        <tbody>
          {% for sp in site.data.sponsors %}
            {% capture sponsor_class %}level-{{sp.level}} sponsor{% endcapture %}
            <tr class="{{sponsor_class}}">
              <td class="col-logo">
                {% if sp.logo %}
                  <div class="logo">
                    {% if sp.url %}
                      <a href="{{sp.url}}" target="_blank">
                        {% img '{{ assets[sp.logo].filename }}' %}
                      </a>
                    {% else %}
                      {% img '{{ assets[sp.logo].filename }}' %}
                    {% endif %}
                  </div>
                {% else %}
                  &nbsp;
                {% endif %}
              </td>
              <td class="name">
                {% if sp.url %}
                  <a href="{{sp.url}}" target="_blank">
                    {{sp.name}}
                  </a>
                {% else %}
                  {{sp.name}}
                {% endif %}
              </td>
              <td class="currency">
                {{sp.last_payment}}
              </td>
              <td class="currency">
                {{sp.all_time}}
              </td>
              <td class="since">
                {{sp.since}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col s12 m3 offset-m1 sponsors-sidebar">
      {% include sponsors_sidebar.html %}

      <div class="row original">
        <div class="col">
          <h2>Original Sponsors</h2>
          <p>Meet our original sponsors <a href="/sponsors/original-sponsors.html">here</a>.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  new Tablesort(document.getElementById('sponsors-tbl'));
</script>
