---
title: Used in production
description: A growing number of companies and projects are using Crystal in production. Are you using Crystal in production at your company or project? Please add yourself <a href="https://airtable.com/shrapvn1N02qwkowQ">here</a>.
layout: base
---
{% capture header_title %}{{ page.title }}{% endcapture %}

{% include header.html header_title=header_title %}

<main>

  <div class="container">

    <div class="row">
      <div class="col">
        <table class="bordered" id="sponsors-tbl">
          <thead>
            <th class="company"><span>Company / project</span></th>
            <th class="category"><span>Category</span></th>
            <th class="description"><span>Description</span></th>
          </thead>
          <tbody>
            {% for uip in site.data.companies %}
            <tr class="sponsor">
              <td>
                {% if uip.url %}
                <a href="{{uip.url}}" target="_blank" rel="sponsored nofollow">
                  {{uip.name}}
                </a>
                {% else %}
                {{uip.name}}
                {% endif %}
              </td>
              <td>
                {{uip.category}}
              </td>
              <td>
                {{uip.description | markdownify}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="/assets/js/tablesort.js"></script>
  <script>
    new Tablesort(document.getElementById('sponsors-tbl'));
  </script>

</main>
