<div class="topics">
  <div class="topic">
    <div class="topic-icon">
      <img class="topic-icon" src="/assets/icons/favorite.svg" alt="" />
    </div>
    <strong>Sponsorship</strong>
    <p>Become a Crystal sponsor in only 3 simple steps via OpenCollective</p>
    <a href="#" class="hex wide"><span>Contribute</span></a>
  </div>

  <div class="topic">
    <img class="topic-icon" src="/assets/icons/domain.svg" alt="" />
    <strong class="ico building left">Enterprise support</strong>
    <p>Sponsoring Crystal creates a great springboard for your brand</p>
    <a href="#" class="hex wide"><span>Get Support</span></a>
  </div>

  <div class="topic">
    <img class="topic-icon" src="/assets/icons/shuttle.svg" alt="" />
    <strong class="ico shuttle left">Hire us for your project</strong>
    <p>You can tap into the expertise of the very creators of the language to guide you in your implementation. </p>
    <a href="#" class="hex wide"><span>Hire Us</span></a>
  </div>
</div>
