<div class="topics">
  <div class="topic">
    <div class="topic-icon">
      <img class="topic-icon" src="/assets/icons/shuttle.svg" alt="" />
    </div>
    <strong>Done installing?</strong>
    <p>Once you have Crystal installed, follow the first steps to get started.</p>
    <a href="https://crystal-lang.org/reference/getting_started/" class="hex">Learn Crystal</a>
  </div>

  <div class="topic">
    <div class="topic-icon">
      {%- include icons/discourse.svg %}
    </div>
    <strong>Having trouble?</strong>
    <p>Get help about installing Crystal in the community forum.</p>
    <a href="https://forum.crystal-lang.org/c/help-support" class="hex">Ask for support</a>
  </div>
</div>
