{% assign entries = site.data[include.dataset] | where: "os", include.os | where: "type", include.type -%}
{% assign size = entries | size -%}
{% assign latest_release = site.releases | reverse | first -%}
{% assign version = latest_release.version -%}
{% if size > 0 -%}
<div class="install-group">
  {%- case include.type %}
  {%- when "crystal" %}
    <h3 title="Official packages provided by the Crystal project">Crystal</h3>
  {%- when "system" %}
    <h3 title="Packages in a distribution's package system">System</h3>
  {%- when "community" %}
    <h3 title="Packages maintained by the community">Community</h3>
  {%- endcase %}

  <div class="install-entries">
    {%- for entry in entries %}
      <div class="install-entry">
        <span class="title">
          {%- if entry.instructions_href %}
            <a href="{{ entry.instructions_href }}" title="Instructions for {{ entry.label | default: entry.title }}">
          {%- endif %}
          {{- entry.title | markdownify }}
          {%- if entry.instructions_href %}
            </a>
          {%- endif %}
        </span>
        {%- assign targets_size = entry.arch | size %}
        {%- if targets_size > 0 %}
        <span class="targets">
          {%- for arch in entry.arch %}
            <code>{{ arch }}</code>
          {%- endfor %}
        </span>
        {%- endif %}
        {%- if entry.repology == "crystal" %}
          <span class="repo-badge"><img src="/assets/install/version-badge.svg" class="version-badge" alt="Latest version: {{ version }}"></span>
        {%- elsif entry.repology %}
          {%- include elements/repology_badge.html repo=entry.repology %}
        {%- endif %}
        <div class="example">
          {%- if entry.archive_href %}
            <p>
              Download:
              {%- for arch in entry.arch %}
                <a href="{{ entry.archive_href | liquify }}"><code class="low-key">{{ arch }}</code></a>
              {%- endfor %}
            </p>
          {%- endif %}
          {{- entry.example | markdownify }}
        </div>
        {%- if entry.repo_href %}
          <a href="{{ entry.repo_href }}" title="{{ entry.repo_description }}" class="info">{% include icons/info.svg %}</a>
        {%- endif %}
      </div>
    {%- endfor %}
  </div>
</div>
{% endif %}
