<div class="container">
  <div class="conference-session-list">
    <header><h2>Programme</h2></header>
    <div class="conference-sessions-grid">
    {% for session in site.data.conference_talks %}
        {% if session["Start time"] != lastStartTime %}
        <div class="conference-slot-info">
          <time class="local-time" datetime="2021-07-08T{{ session["Start time"] }}+00:00" title="2021-07-08 {{ session["Start time"] }} UTC">{{ session["Start time"] }}</time>
        </div>
        {% endif %}
        {% assign lastStartTime = session["Start time"] %}
        {% assign lastEndTime = session["End time"] %}
        {% if session["Session type"] == "Long Break" or session["Session type"] == "Setup" %}
            {% assign parts = session["Name"] | split: '-' %}
            {% assign break_desc = parts | slice: 1, 1000 %}
            <div class="conference-sessions-break">{{break_desc | join: '-'}}</div>
          {% else %}
          <div class="conference-session conference-session--{{ session['Room'] | slugify }} conference-session--span{{ session['Row span'] | default: 1 }}">
              <div class="presenter">
                {% if session["Speaker picture"] %}
                  {% assign parts = session["Speaker picture"] | split: ' (' %}
                  {% assign parts = parts[1] | split: ')' %}
                  <div class="speaker-image" style="background-image: url('{{ parts[0] }}')"></div>
                {% endif %}
                <div>
                  <div>{{ session["Presenter"] }}</div>
                    {% if session["Link"] %}
                      <p class="session-link">
                        <a href="https://github.com/{{ session["Link"] }}">@{{ session["Link"] }}</a>
                      </p>
                    {% endif %}
                </div>
              </div>
              <h3>{{ session["Talk title"] }}</h3>

              {% if session["Theme"] %}
                <div class="icon-prefix">
                  {% include icons/label.svg %}
                  {{ session["Theme"] }}
                </div>
              {% endif %}
              <div class="icon-prefix">
                {% include icons/schedule.svg %}
                {{ session["Duration (minutes)"] }} minutes at {{ session["Room" ] }}
              </div>
              <p class="session-links">
                {% if session["Video Link"] %}
                  <div class="link-item">
                    <a href="{{ session["Video Link"] }}">
                      {% include icons/videocam.svg %}
                      Recording
                    </a>
                  </div>
                {% endif %}
                {% if session["Slides Link"] %}
                  <div class="link-item">
                    <a href="{{ session["Slides Link"] }}">
                      {% include icons/slideshow.svg %}
                      Slides
                    </a>
                  </div>
                {% endif %}
              </p>

              {% if session["Abstract"] %}
                <p class="session-summary">
                  {{ session["Abstract"] }}
                </p>
              {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var locale = "default";
  var options = {
    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',
    hour: 'numeric', minute: 'numeric', timeZoneName: 'short'};
  var titleFormat = new Intl.DateTimeFormat(locale, options);
  var textFormat = new Intl.DateTimeFormat(locale, {hour: "numeric", minute: "numeric"});

  document.querySelector("h2").innerHTML += ` <small>(times are displayed for ${textFormat.resolvedOptions().timeZone})</small>`

  document.querySelectorAll("time.local-time").forEach(function(elem){
    var date = new Date(elem.dateTime);
    var timezone = date.getTimezoneOffset() / -60
    elem.innerHTML = textFormat.format(date) + `<small>UTC${!timezone? `` : timezone > 0? `+${timezone}` : timezone}</small>`;
    elem.title = titleFormat.format(date);
  })
})
document.addEventListener('scroll', () => {
  const header = document.querySelector("header")
  header.classList.toggle('shadow', header.getBoundingClientRect().y === 0)
})
</script>
