:root {
  --cos-70: 0.34;
  --sin-70: 0.93;

  --hex-bg: var(--white);
  --hex-color: var(--black);
  --hex-bg-hover: var(--tainted-white);
}

.hex {
  @extend .ui-link;

  --hex-height: 2.5em;
  --hex-width: 2px;
  --cos-a: var(--cos-70);
  --sin-a: var(--sin-70);
  --h: calc(var(--hex-height) / 2);
  --a: calc(var(--h) * var(--cos-a));
  --v: calc(var(--hex-width) / var(--sin-a));
  --b: calc(var(--cos-a) * (var(--h) - var(--hex-width)) + var(--v));

  position: relative;
  padding: var(--hex-width) calc(var(--b) + var(--padding-sm));
  height: var(--hex-height);
  display: grid;
  place-content: center;
  min-width: max-content;
  max-width: 35ch;
  background: transparent;
  appearance: none;
  border: none;

  :not(.wide) {
    margin-inline: auto;
  }

  color: var(--hex-color);
  font-weight: 500;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::before {
    z-index: -1;
    background: var(--hex-bg);
    clip-path: polygon(
      evenodd,
      var(--a) 0%,
      calc(100% - var(--a)) 0%,
      100% 50%,
      calc(100% - var(--a)) 100%,
      var(--a) 100%,
      0 50%,
      var(--a) 0%
    );
  }

  &:not(.bordered) {
    filter: var(
      --hex-shadow,
      drop-shadow(0 1px 2px rgb(0 0 0 / 20%))
        drop-shadow(0 1px 3px rgb(0 0 0 / 10%))
    );
    transition: filter 0.2s;
  }

  &.bordered::after {
    background-color: currentColor;
    clip-path: polygon(
      evenodd,
      /* outer */ var(--a) 0%,
      calc(100% - var(--a)) 0%,
      100% 50%,
      calc(100% - var(--a)) 100%,
      var(--a) 100%,
      0 50%,
      var(--a) 0%,
      /* inner */ var(--b) var(--hex-width),
      var(--v) 50%,
      var(--b) calc(100% - var(--hex-width)),
      calc(100% - var(--b)) calc(100% - var(--hex-width)),
      calc(100% - var(--v)) 50%,
      calc(100% - var(--b)) var(--hex-width),
      var(--b) var(--hex-width)
    );
  }

  &:is(:any-link, button) {
    cursor: pointer;

    &:hover::before {
      background-color: var(--hex-bg-hover);
    }

    &:not(.bordered) {
      &:hover {
        filter: var(
          --hex-hover-shadow,
          drop-shadow(0 0 3px rgba(0 0 0 / 10%))
            drop-shadow(0 1px 1px rgba(0 0 0 / 40%))
            drop-shadow(0 1px 3px rgba(0 0 0 / 20%))
        );
      }
    }
  }
}
