:root {
  --sin-60: 0.866;
}

.hex-icon {
  --icon-height: 48px;

  width: calc(var(--icon-height) * var(--sin-60));
  height: var(--icon-height);
  display: inline-block;
  position: relative;

  filter: drop-shadow(0 0 2px rgba(0,0,0,0.1))
    drop-shadow(0 1px 1px rgba(0,0,0,0.2))
    drop-shadow(0 1px 1px rgba(0,0,0,0.1));

  .inner {
    background-color: white;
    width: 100%;
    height: 100%;

    clip-path: polygon(
      evenodd,
      0% 25%,
      0% 75%,
      50% 100%,
      100% 75%,
      100% 25%,
      50% 0,
      0% 25%
    );

    & > * {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
