.book-authors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20em), 1fr));

  column-gap: var(--padding-md);
  row-gap: var(--padding-lg);
}

.book-author {
  display: grid;

  grid-template-areas: "icon main";
  grid-template-columns: 6ch 1fr;
  column-gap: var(--padding-sm);

  > * {
    grid-area: main;
  }

  > .book-author-icon {
    @include circle-image;
    grid-area: icon;
  }
}
