.section-nav {
  margin-block-start: var(--block-flow-sm);
  transition: 0.5s opacity;
  &:not(:hover) {
    opacity: 0.6;
  }
}

.breadcrumbs {
  display: flex;

  --link-color: var(--light-text);
  --link-hover-color: var(--lighter-text);

  [aria-current="page"] {
    --link-color: var(--lighter-text);
    --link-hover-color: var(--lighter-text);
  }
}

.breadcrumb {
  display: inline flex;

  > :first-child {
    padding-inline-end: var(--padding-xs);
  }
  &:not(:first-child) > :first-child {
    padding-inline-start: var(--padding-xs);
  }
}
