.section-nav {
  transition: 0.5s opacity;
  &:not(:hover) {
    opacity: 0.6;
  }

  margin-block-start: var(--block-flow-xs);
  &:first-child {
    margin-block-start: var(--block-flow-sm);
  }
}

.breadcrumbs {
  display: flex;

  --link-color: var(--light-text);
  --link-hover-color: var(--lighter-text);

  [aria-current="page"] {
    --link-color: var(--lighter-text);
    --link-hover-color: var(--lighter-text);
  }
}

.breadcrumb {
  display: inline flex;

  > :first-child {
    padding-inline-end: var(--padding-xs);
  }
  &:not(:first-child) > :first-child {
    padding-inline-start: var(--padding-xs);
  }
}

.section-links {
  --link-color: var(--light-text);
  --link-hover-color: var(--lighter-text);
  font-weight: 300;
  @extend .small;

  > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    column-gap: var(--padding-xs);
  }

  [aria-current="page"] {
    font-weight: 400;
  }
}
