.callout {
  border: 1.5px solid var(--border-color-dark);
  border-radius: 4px;
  --content-width: auto;

  --callout-color: var(--lighter-text);

  @extend .small;

  > .callout-title {
    color: var(--light-text);
    font-weight: 500;
    background-color: color-mix(in srgb, var(--callout-color) 18%, transparent);
    padding: var(--padding-xs) var(--padding-xs);

    &::before {
      content: "";
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-image: var(--callout-mask);
      width: 1.3em;
      vertical-align: text-bottom;
      aspect-ratio: 1;
      display: inline-block;
      background: var(--callout-color);
      margin-right: 0.3em;
    }
  }

  > :not(.callout-title) {
    margin: var(--padding-xs);
  }

  --callout-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E");
  &--warning {
    --callout-color: var(--warning);
  }
}
