.card {
  &:not(.card--borderless) {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
  }
  padding: var(--padding-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 23ch;
  font-size: 80%;
  position: relative;
  line-height: var(--line-height-sm);

  --card-padding: var(--padding-sm);

  > * {
    margin-inline: var(--card-padding);
    + * {
      margin-block-start: var(--card-padding);
    }
    &:last-child {
      margin-block-end: var(--card-padding);
    }
  }

  > img {
    width: 55%;
    object-fit: contain;
    aspect-ratio: 1;
    order: -1;
    margin: var(--card-padding);
  }

  > .name {
    @extend .ui-link;

    font-weight: 500;
    font-size: 112.5%;
    &:where(:not(:last-child)) {
      margin-block-end: auto;
    }

    --link-color: currentcolor;

    &:any-link {
      @include box-link;

      > img {
        transition: filter 0.3s;
      }
    }
  }
}
