.content {
  @include blockflow;
  @include external-links;

  > :is(h1, h2, h3, h4):not(:first-child) {
    margin-block-start: var(--block-flow, var(--block-flow-md));
  }

  &:not(&--wide) {
    max-width: var(--content-width);
  }
  margin-inline-end: auto;
}

.page--segmented > main > h2:not(:first-child) {
  padding-top: var(--block-flow-md);

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: calc(-1 * var(--block-flow-md));
    border-top: 1px solid var(--border-color);
  }
}
