.content {
  @include blockflow;

  > :is(h1, h2, h3, h4):not(:first-child) {
    margin-block-start: var(--block-flow, var(--block-flow-md));
  }

  &:not(&--wide) {
    max-width: var(--content-width);
  }
  margin-inline-end: auto;
}
