.content {
  @include blockflow;

  > :is(h1, h2, h3, h4):not(:first-child) {
    margin-block-start: var(--block-flow, var(--block-flow-md));
  }

  max-width: var(--content-width);
  margin-inline-end: auto;

  :any-link {
    &[href^="http"],
    &[href^="https://"]
    {
      @extend .external;

      &::after {
        filter: invert(50%) sepia(66%) saturate(2454%) hue-rotate(168deg)
          brightness(97%) contrast(99%);
      }
    }
  }
}
