pre {
  position: relative;

  > code {
    flex-grow: 1;
    z-index: 1;
  }
  > .copy-action {
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: color-mix(in srgb, var(--light-gray) 20%, transparent);
    opacity: 1;
    transform: scaleY(0);
    transition: 800ms opacity;
  }

  &.copied::before {
    opacity: 0.5;
    transform: scaleY(1);
    transition:
      800ms opacity,
      200ms transform;
  }

  &.copied::after {
    content: "copied to clipboard";
    position: absolute;
    top: min(50%, 6em);
    left: 50%;
    font-size: 130%;
    font-weight: 400;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    color: var(--tainted-white);
    background: var(--light-gray);
    padding-inline: var(--padding-xs);
    border-radius: var(--padding-xs);
    box-shadow:
      0 1px 4px 0 color-mix(in srgb, var(--primary-text) 35%, transparent),
      0 1px 3px 0 color-mix(in srgb, var(--primary-text) 25%, transparent);
  }
}

.copy-action {
  display: block;
  position: absolute;
  top: var(--padding-xxs);
  right: var(--padding-xxs);

  /* reset button appearance */
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 2.5ch;
    aspect-ratio: 1;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z'/%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z'/%3E%3C/svg%3E%0A");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: currentColor;
  }

  &:not(:hover) {
    opacity: 0.5;
  }
}
