body > footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(9em, 17%), 1fr));
  gap: var(--block-flow-md) var(--block-flow-sm);

  --container-max: 130ch;
  --main-width: min(100vw - 3rem, var(--container-max, 110ch));

  padding-block: var(--block-flow-sm) var(--block-flow-md);
  --link-color: var(--light-text);
  --link-hover-color: var(--lighter-text);

  position: relative;

  &::after {
    content: "";

    @extend .full-width;

    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;

    border-top: 1px solid var(--border-color);
    background-color: var(--tainted-white);
  }

  > * {
    z-index: 1;
    line-height: var(--line-height-md);
    font-size: 90%;
  }

  .link-items {
    .link-item + .link-item {
      margin-top: 0.25rem;
    }

    &--social {
      display: flex;
      grid-column-end: span 2;
      column-gap: var(--padding-md);
      align-self: center;
      justify-self: center;
    }
    .link-item + .link-item {
      margin-top: 0;
    }
  }
}

nav.footer-section {
  > a {
    font-weight: 500;
  }

  > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-block-start: 0.2em;
    gap: 0.2em;
  }

  a {
    &[href^="http"]::after,
    &[href^="https://"]::after
    {
      content: "";
      width: 11px;
      height: 11px;
      margin-left: 4px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
    }
  }
}

.newsletter-footer {
  grid-column-end: span 2;

  display: grid;
  grid-template-areas:
    "label label"
    "input button";
  column-gap: var(--padding-sm);
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;

  > form {
    display: contents;

    > p {
      grid-area: label;
      font-weight: 300;
      color: var(--lighter-text);
    }

    > input[type="email"] {
      grid-area: input;
      width: 22em;
    }
  }
}

.imprint {
  opacity: 0.7;
  grid-column-start: 1;
  grid-column-end: -1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--padding-xs);

  svg {
    height: 2em;
  }
}

p svg {
  height: 1.3em;
  width: auto;
  vertical-align: middle;
  margin-block-start: -0.2em;
  fill: currentColor;
}
