.link-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-xs) var(--padding-sm);
  line-height: var(--line-height-sm);
  --link-external-postfix: none;

  > a {
    @include link-with-icon-themed;

    // FIXME: This is a workaround for WebKit weirdly introducing arbitrary
    // line breaks
    // https://github.com/crystal-lang/crystal-website/issues/766
    white-space: nowrap;
  }
}
