.link-items {
  > h3 {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: var(--padding-xs);
  }

  padding-left: 1.5em;
  @media (min-width: 160ch) {
    margin-left: -1.5em;
  }

  .link-item + .link-item {
    margin-top: var(--block-flow-sm);
  }
}

.link-item {
  @extend .icon-prefix;
  margin-inline-start: 0;

  a {
    color: var(--light-text);
    &:not(.link-item__main) {
      color: var(--lighter-text);
    }
  }

  .link-item__main {
    font-weight: 500;

    > em {
      font-style: normal;
      font-weight: 400;
    }
  }

  p {
    font-size: 90%;
    line-height: var(--line-height-md);
    color: var(--light-gray);
  }
}

.icon-prefix {
  position: relative;
  font-size: 90%;
  line-height: var(--line-height-md);
  margin-inline-start: 1.2em;
  color: var(--light-gray);

  > svg:first-child,
  > :any-link > svg:first-child {
    width: 1.2em;
    height: auto;
    position: absolute;
    right: calc(100% + 0.3em);
    margin-top: 0.15em;

    fill: currentColor;
  }
}
