body > header {
  @extend .ui-link;
  --link-color: var(--light-text);
  --link-hover-color: var(--primary-text);
  padding: var(--padding-xs);

  gap: 1em;

  width: 100vw;
  > .nav-start,
  > .utilnav {
    flex-basis: 0;
    flex-grow: 1;
  }
  > .section-nav {
    flex-basis: var(--main-width);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

.mainnav {
  ul {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5em;
    font-size: 80%;
  }

  li {
    @include external-links;

    all: unset;

    > a {
      all: unset;
      display: block;
      padding: 1.5em 1em;
      cursor: pointer;

      &[aria-current="page"] {
        color: var(--primary-text);
        border-bottom: 4px solid currentcolor;
      }
    }
  }
}

.utilnav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1em;

  > a {
    display: flex;
  }
}

.site-logo {
  display: flex;
  align-items: center;

  --link-color: var(--primary-text);
  --link-hover-color: var(--light-text);

  > svg {
    height: 1.5em;
    fill: currentcolor;
  }
}
