body > header {
  @extend .ui-link;
  --link-color: var(--light-text);
  --link-hover-color: var(--primary-text);

  gap: 1em;
}

.mainnav {
  font-size: 80%;

  ul {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5em;
  }

  li {
    @include external-links;

    all: unset;

    > a {
      all: unset;
      display: block;
      padding: 1.5em 1em;
      cursor: pointer;

      &[aria-current="page"] {
        color: var(--primary-text);
        border-bottom: 4px solid currentcolor;
      }

      &[href^="http"],
      &[href^="https://"]
      {
        @extend .external;
      }
    }
  }
}

.utilnav {
  display: flex;
  align-items: center;
  gap: 1em;

  > a {
    display: flex;
  }
}

.site-logo {
  display: flex;
  align-items: center;

  --link-color: var(--primary-text);
  --link-hover-color: var(--light-text);

  > svg {
    height: 1.5em;
    fill: currentcolor;
  }
}
