body > header {
  --link-color: var(--light-text);
  --link-hover-color: var(--primary-text);
  padding: var(--padding-xs);

  gap: 1em;

  width: 100vw;
  > .nav-start,
  > .utilnav {
    flex-basis: 0;
    flex-grow: 1;
  }
  > .section-nav {
    flex-basis: var(--main-width);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

.mainnav {
  ul {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5em;
    font-size: 80%;
  }

  li {
    all: unset;

    > a {
      all: unset;
      display: block;
      padding: 1.5em 1em;
      cursor: pointer;

      &[aria-current="page"] {
        color: var(--primary-text);
        border-bottom: 4px solid currentcolor;
      }

      &[href^="http"]::after,
      &[href^="https://"]::after
      {
        content: "";
        width: 11px;
        height: 11px;
        margin-left: 4px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
      }
    }
  }
}

.utilnav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1em;

  > a {
    display: flex;
  }
}

.site-logo {
  display: flex;
  align-items: center;

  --link-color: var(--primary-text);
  --link-hover-color: var(--light-text);

  > svg {
    height: 1.5em;
    fill: currentcolor;
  }
}
