.post-teaser,
.post {
  display: grid;
  grid-template-columns: 4.5em 1fr;
  grid-template-rows: 1.4em 1.4em auto auto 1fr;
  grid-template-areas:
    "avatars names"
    "avatars date"
    "avatars title"
    "avatars image"
    "avatars body"
    ". body";

  @media (max-width: 80ch) {
    grid-template-columns: 3.5em 1fr;
  }

  > .avatar-list {
    grid-area: avatars;
    justify-self: center;
  }

  > .author-names {
    grid-area: names;
    align-self: end;
  }

  > .post-date {
    grid-area: date;
  }

  > .post-title,
  > hgroup {
    grid-area: title;
  }

  > .excerpt,
  > .post__body {
    grid-area: body;
  }

  > .post-image {
    grid-area: image;
  }
}

.post {
  @media (max-width: 80ch) {
    grid-template-areas:
      "avatars names"
      "avatars date"
      "title title"
      "image image"
      "body body";
  }
}

.post-date {
  color: var(--lighter-text);
}

.post-date,
.author-names {
  font-size: 80%;
  line-height: 1.3;
}

.author-names {
  > .author-name:not(:last-child)::after {
    content: ", ";
  }
}

.excerpt {
  margin-block-start: 0.2em;
  line-height: var(--line-height-md);
}

.post-image {
  max-width: var(--content-width);
  margin-block-start: var(--block-flow-md);
}

.post-title {
  --link-color: currentcolor;
  --link-hover-color: var(--light-text);

  font-weight: 400;
  font-size: 150%;
  line-height: var(--line-height-heading);

  margin-right: auto;
  margin-left: -0.1ch;

  text-wrap: balance;

  &:is(h1) {
    font-size: 300%;
  }

  + .subtitle {
    margin-block-start: 0.4em;
    color: var(--light-gray);
  }
}

.post > .post__body {
  @include blockflow;
  margin-block-start: var(--block-flow-md);
}

#discourse-comments {
  max-width: var(--content-width);
}
