.post-pagination {
  --link-color: var(--light-gray);
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-xs) var(--padding-sm);

  a {
    font-weight: 500;
    display: inline-block;
    line-height: var(--line-height-sm);
    text-wrap: balance;
    align-self: center;
  }

  a[rel="next"]::before,
  a[rel="prev"]::after {
    content: "";
    display: inline-block;
    border: solid currentColor;
    border-width: 0 0.33ch 0.33ch 0;
    padding: 0.33ch;
    align-self: center;
  }

  a[rel="prev"] {
    margin-inline-start: auto;
    text-align: right;
    &::after {
      transform: rotate(-45deg);
      margin-inline-start: 0.5ch;
      transition: transform 0.2s;
    }
    &:hover::after {
      transform: translateX(0.3ch) scale(1.1) rotate(-45deg);
    }
  }

  a[rel="next"] {
    margin-inline-end: auto;
    &::before {
      transform: rotate(135deg);
      margin-inline-end: 0.5ch;
      transition: transform 0.2s;
    }
    &:hover::before {
      transform: translateX(-0.3ch) scale(1.1) rotate(135deg);
    }
  }
}
