.testimonial-profile {
  color: var(--lighter-text);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  align-items: center;

  > img {
    width: 11em;
    @include circle-image;
  }

  > p {
    text-align: center;
    max-width: 20em;
    text-wrap: balance;
  }

  + blockquote {
    color: var(--light-text);
    font-style: italic;
    text-align: center;
    text-wrap: balance;
    font-weight: 500;
    border: none;
    padding: 0;
  }
}
