{%- assign samples = site.samples | sort: 'weight' %}
<div class="example-tabs">

  <ul class="controls">
    {%- for sample in samples %}
    <li>
      <a href="#{{ sample.slug }}">{{ sample.short_name | default: sample.title }}</a>
    </li>
    {%- endfor %}
  </ul>

  {%- for sample in samples %}
    <div class="example-tab" id="{{ sample.slug }}">
      <div class="example-description">
        <h3>{{ sample.title }}</h3>
        {{- sample.description | markdownify }}
        {%- if sample.read_more %}
          <div class="read-more">
            {{- sample.read_more | markdownify | remove: '<p>' | remove: '</p>' }}
          </div>
        {%- endif %}
      </div>

      <div class="example-code {% if sample.runnable %} runnable{% endif %}">
        {{- sample.content | markdownify }}
      </div>
    </div>
  {%- endfor %}
</div>
