---
layout: wide
---

<div class="book-presenter">
  <div class="cover">
    <img src="{{ page.book.cover_image }}" />
  </div>

  <div class="description">
    <p>
      {{ page.book.description }}
    </p>

    <p>You can get it from these vendors:</p>

    {% for vendor in page.book.vendors %}
      <div class="link-item">
        <a class="link-item__main" href="{{ vendor.url }}">
          {% include icons/book.svg %}
          Buy on {{ vendor.name }}
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="details">
    {{ page.book.details }}
  </div>
</div>

<section>
  <div class="full-width-rule">
    <div class="hex">
      <span>What you will learn</span>
    </div>
  </div>
  {% include components/image-list.html items=page.what_you_will_learn %}
  <div class="full-width-rule">
  </div>
</section>

<section>
  <h2>About the Authors</h2>
  {% include components/book-authors.html authors=page.authors %}
</section>

<div class="banner sponsorship">
</div>
