---
layout: wide
---
{% assign posts = site.categories[page.category_name] %}
{% include posts/recent_news.html posts=posts extra=true %}

{% assign numposts = posts | size %}
{% if numposts > 5 %}
<hr class="full-width" />

<section>
  <h1>More articles</h1>

  <div class="more-posts">
    {%- for post in posts offset: 5 %}
    <div class="post-micro-teaser">
      <time class="post-date" pubdate>{{ post.date | date_to_string }}</time>
      <a href="{{post.url}}" class="post-title">{{post.title}}</a>

      {% include posts/taxonomy.html post=post %}
    </div>
    {%- endfor %}
  </div>
</section>
{% endif %}
