<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% if page.url != '/' %}{{ page.title }} - {% endif %}The Crystal Programming Language
    </title>
    <meta charset='utf-8'>
    <!-- Import Google Icon Font -->
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons|Roboto+Mono' rel='stylesheet'>
    {% css stylesheet %}
    <link href='/feed.xml' rel='alternate' title='Atom 1.0' type='application/atom+xml'>
    <link href='/favicon.png' rel='icon' type='image/png'>
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    {% seo %}
    <!-- Let browser know website is optimized for mobile -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <script src='https://code.jquery.com/jquery-3.1.1.min.js' type='text/javascript'></script>
  </head>
  <body>
    <div class="wrapper {{page.custom_body_classes | join: ' '}}">
      {% include nav.html %}
      {% unless page.distro %}
        {% if page.is_post %}
          {% include post_header.html %}
        {% else %}
          {% include header.html %}
        {% endif %}
      {% endunless %}

      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>

    <script id="dsq-count-scr" src="//crystal-lang.disqus.com/count.js" async></script>
    {% js bundle %}
    {% include google_analytics.html %}
  </body>
</html>
