<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link href="https://fonts.googleapis.com/css?family=Cousine:700|Open+Sans:300,400,700" rel="stylesheet">
    {% css stylesheet %}
    <link href='/feed.xml' rel='alternate' title='Atom 1.0' type='application/atom+xml'>
    <link href='/favicon.png' rel='icon' type='image/png'>
    <script src='/javascripts/viewer.js' type='text/javascript'></script>
    {% seo %}
  </head>
  <body>
    <div id='fund'>
      <div class='inner'>
        <div class='right'>
          <a class='text' href='https://www.bountysource.com/teams/crystal-lang/fundraisers/702-crystal-language' target='_blank'>Fund Crystal and help it become production-ready!</a>
          <a class='text' href='/sponsors'>Meet our sponsors</a>
          <a class='badge' href='https://www.bountysource.com/teams/crystal-lang/fundraisers/702-crystal-language' target='_blank'>
            bountysource
          </a>
        </div>
      </div>
    </div>
    <div class='wrapper'>
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    {% include google_analytics.html %}
    <script src='/javascripts/main.js' type='text/javascript'></script>
  </body>
</html>
