---
layout: skeleton
site_title: The Crystal Programming Language
# Layout for home page with special header
---
{%- assign latest_release = site.releases | reverse | first %}

<header>
  {%- include site/nav.html %}

  <div class="intro">
    <div class="brand-logo">
      <canvas height="130" id="logo-canvas" style="cursor:move" width="130"></canvas>
      {%- include img/crystal-name-logo.svg %}
    </div>
    <div class="motto">
      <h1 class="visually-hidden">Crystal</h1>
      A language for humans and computers
    </div>
    <div class="latest-release-info">
      <a href="{{ latest_release.url }}">Latest release: <strong>{{ latest_release.version }}</strong></a>
    </div>

    <div class="actions">
      <a href="/install/" class="hex"><span>Install</span></a>
      <a href="https://crystal-lang.org/reference/getting_started/" class="hex"><span>Learn</span></a>
      <a href="https://play.crystal-lang.org/#/cr" class="hex"><span>Try Online</span></a>
    </div>
  </div>

  <h2 class="visually-hidden">Examples</h2>

  {%- include pages/home/examples.html %}
</header>

<hr class="visually-hidden">

<main>
  {{- content }}
</main>

<hr class="visually-hidden">

{% include site/edit-on-github.html %}
<footer>
  {%- include site/footer.html %}
</footer>
