---
layout: base
site_title: The Crystal Programming Language
# Layout for home page with special header
---
{% assign latest_release = site.releases | reverse | first %}
<div class="pattern">
  <header class="grid sidebar">

    <div class='brand-logo'>
      <canvas height='130' id='logo-canvas' style='cursor:move' width='130'></canvas>
      <h1>Crystal</h1>
      <a href="{{ latest_release.url }}">{{ latest_release.version }} Release notes</a>
    </div>

    <div class="actions">
      <strong>A language for human and computers</strong>
      <ul class="grid x3">
        <li><a href="#" class="hex border btn black"><span>Install</span></a></li>
        <li><a href="#" class="hex border btn black"><span>Learn</span></a></li>
        <li><a href="#" class="hex border btn black"><span>Try Online</span></a></li>
      </ul>
    </div>

  </header>

  <hr class="white">

  {% include examples.html %}

</div>

<main>
  {{ content }}
</main>
