---
layout: base
---
<main itemscope itemtype="https://schema.org/Book">

  <header>
    <h1>{{ page.headline }}</h1>

    <section class="grid sidebar">

      <meta itemprop="name" content="{{ page.book_info.name }}" />

      <picture>
        <source srcset="{{ page.cover_image }}.webp" type="image/webp" />
        <img  src="{{ page.cover_image }}.jpg" itemprop="image" loading="lazy" />
      </picture>
      <div class="description">

        <p>{{ page.description }}</p>
        <p>You can get it from these vendors:</p>
        <ul class="grid x2">
        {% for vendor in page.vendors %}
          <li>
            <a href="{{ vendor.url }}" target="_blank">
              Buy on {{ vendor.name }}
            </a>
          </li>
        {% endfor %}
        </ul>

        <dl class="details">
          {% if page.book_info.isbn %}
            <dt>ISBN</dt>
            <dd itemprop="isbn">{{ page.book_info.isbn }}</dd>
          {% endif %}
          {% if page.book_info.publisher %}
            <dt>Publisher</dt>
            <dd itemprop="publisher" itemtype="https://schema.org/Organization" itemscope>
            <span itemprop="name">{{ page.book_info.publisher }}</span>
          </dd>
          {% endif %}
          {% if page.book_info.numberOfPages %}
            <dt>Number of pages</dt>
            <dd itemprop="numberOfPages">{{ page.book_info.numberOfPages }}</dd>
          {% endif %}
          {% if page.book_info.datePublished %}
            <dt>Published</dt>
            <dd itemprop="datePublished">{{ page.book_info.datePublished }}</dd>
          {% endif %}
        </dl>
      </div>

    </section>

  </header>

  {{ content }}

  {% if page.authors %}
  <section class="authors separator full">

      <h2>About the authors</h2>

      <ul class="grid x2">
        {% for author in page.authors %}
          <li itemprop="author" itemscope itemtype="https://schema.org/Person">
            <img src="{{ author.image }}" itemprop="image">

            <div class="team-member__inner">
              <p>
                <strong itemprop="name">{{ author.name }}</strong>
                <span class="member_role" itemprop="description">
                  {{ author.description }}
                </span>
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
  </section>
  {% endif %}

</main>
