---
layout: base
# Layout for blog posts including post header and body
# Doesn't use the page layout because posts have a special header
---

<article class="post" itemscope itemtype="https://schema.org/Article">
  <hgroup>
    <h1 class="post-title">{{ page.page_title | default: page.title }}</h1>
    {% if page.subtitle %}
    <h1 class="subtitle">{{ page.subtitle }}</h1>
    {% endif %}
  </hgroup>

  {% include posts/meta.html post = page %}

  <div class="content" itemprop="articleBody">{{ content }}</div>

  <nav class="post-pagination">
    {% if page.next.url %}
      <a rel="next" href="{{page.next.url}}">{{page.next.title}}</a>
    {% endif %}

    {% if page.previous.url %}
      <a rel="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
  </nav>
</article>
