---
layout: base
# Layout for blog posts including post header and body
# Doesn't use the page layout because posts have a special header
---

<article class="post" itemscope itemtype="https://schema.org/Article">
  <hgroup>
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h1 class="subtitle">{{ page.subtitle }}</h1>
    {% endif %}
  </hgroup>

  {% include posts/meta.html post = page %}

  <main class="content" itemprop="articleBody">{{ content }}</main>
</article>
