---
layout: none
# Basic HTML skeleton with only the top nav and otherwise blank content
---
<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {%- if layout.site_title -%}
        {{ layout.site_title}}
      {%- else -%}
        {{ layout.page_title | liquify | default: page.title }} - The Crystal Programming Language
      {%- endif -%}
    </title>
    <meta charset='utf-8'>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preload" href="https://fonts.googleapis.com/icon?family=Roboto+Mono" />
    <link href='https://fonts.googleapis.com/icon?family=Roboto+Mono' rel='stylesheet'>
    <link href="/assets/css/stylesheet.css" rel="stylesheet" />
    {%- if page.css -%}
    <link href="/assets/css/pages/{{page.css}}.css" rel="stylesheet" />
    {%- endif -%}
    <link href="/assets/css/mobile.css" rel="stylesheet" media="(max-width: 768px)" />
    <link href='/feed.xml' rel='alternate' title='Atom 1.0' type='application/atom+xml'>
    <link href='/favicon.svg' rel='icon'>
    <link href='/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    {% seo %}
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="theme-color" content="#000000">
  </head>
  <body class="{{page.layout}} {{ page.custom_body_classes | join: ' '}}">
    {{ content }}

    <script src='/assets/js/cash.min.js' type='text/javascript' defer></script>
    <script id="dsq-count-scr" src="//crystal-lang.disqus.com/count.js" async></script>
    <script src="/assets/js/bundle.js" defer></script>
    {% include google_analytics.html %}
  </body>
</html>
