---
layout: none
# Basic HTML skeleton with empty body
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {%- if layout.site_title -%}
        {{ layout.site_title}}
      {%- else -%}
        {{ layout.page_title | liquify | default: page.title }} - The Crystal Programming Language
      {%- endif -%}
    </title>
    <meta charset="utf-8" />
    <link href="/assets/stylesheet.css" rel="stylesheet" />
    <link
      href="/feed.xml"
      rel="alternate"
      title="Newsfeed (Atom)"
      type="application/atom+xml"
    />
    {% if page.url == "/" %}
    <link href="https://fosstodon.org/@CrystalLanguage" rel="me">
    {%- endif %}
    <link href="/favicon.png" rel="icon" type="image/png" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/assets/js/bundle.js" defer></script>
    {% seo title=false %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="preload" href="/assets/fonts/roboto/roboto-v30-latin-300.woff2" as="font" type="font/woff2">
    <link rel="preload" href="/assets/fonts/roboto/roboto-v30-latin-regular.woff2" as="font" type="font/woff2">
    <link rel="preload" href="/assets/fonts/roboto/roboto-v30-latin-500.woff2" as="font" type="font/woff2">
  </head>

  <body class="layout--{{ page.layout }}">
    {{ content }}
  </body>
</html>
