:root {
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.8;
  --line-height-base: var(--line-height-lg);
  --line-height-heading: calc(3px + 2ex + 3px);
  --line-height-heading: calc(2px + 2ex + 2px);
  --font-size-lead: clamp(#{$font-size-lg}, min(2vw, 2.7vh), #{font-size(h4)});

  font-size: 1.4em;
  font-size: clamp(90%, min(1.4vw, 2.3vh), 120%);
}

body {
  color: var(--primary-text);
  font-family: var(--body-font);
  line-height: var(--line-height-base);
}

:is(h1, h2, h3, h4, h5, h6) {
  line-height: var(--line-height-heading);
  font-weight: 400;

  // Ensure proper left-alignment of first character
  margin-left: -0.1ch;

  &:not(:first-child) {
    margin-block-start: var(--block-flow, var(--block-flow-md));
  }

  & + & {
    margin-block-start: var(--block-flow, var(--block-flow-sm));
  }
}

:is(h5, h6) {
  font-weight: 500;
  margin-block: 0;
}

.page-description {
  font-size: var(--font-size-lead);
}

:is(h2, h3, h4) {
  color: var(--header-color);
}

h1,
.h1 {
  font-size: font-size(h1);
}

h2,
.h2 {
  font-size: font-size(h2);
}

h3,
.h3 {
  font-size: font-size(h3);
}

h4,
.h4 {
  font-size: font-size(h4);
}

h5,
.h5 {
  font-size: font-size(h5);
}

h6,
.h6 {
  font-size: font-size(h6);
}

p {
  max-width: var(--content-width);
}

:any-link {
  color: var(--link-color);
  text-underline-offset: 0.15em;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--link-hover-color);
  }
}

[id] {
  scroll-margin-top: 2em;
}

pre,
:not(pre) > code {
  font-family: var(--code-font);
  margin: 0;
  font-size: 80%;

  &:not(.low-key) {
    background-color: var(--code-bg);
  }
}

pre > code {
  background: transparent;
  display: block;
  overflow: scroll;
}

pre {
  white-space: pre-line;
  padding: 1.25em;
}

:not(pre) > code,
dd > pre {
  padding: 0.2em 0.4em;
  border-radius: 6px;
}

kbd {
  font-family: var(--code-font);
  padding: 0.2em 0.4em;
  border-radius: 6px;
  margin: 0;
  font-size: 85%;
  background-color: var(--highlight-bg);
  box-shadow: inset -2px -2px 4px var(--border-color-dark);
  border: 1px solid var(--border-color);
}

strong,
b {
  font-weight: 500;
  color: var(--light-text);
}

blockquote {
  padding-left: var(--padding-sm);
  border-left: 5px solid var(--border-color);

  @include blockflow;
}

figure {
  > figcaption {
    margin-block-start: 0.5rem;
    text-align: center;
    font-size: 85%;
  }
}

dt {
  font-weight: 500;

  dd + & {
    margin-block-start: var(--block-flow-sm);
  }
}

dd {
  text-indent: 1.325ch;

  > pre:first-child {
    text-indent: 0;
    margin-left: 1.325ch;
  }
}
