name: Build
on:
  push:
  pull_request:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      COMPOSE_FILE: "docker-compose.yml:docker-compose.ci.yml"
    steps:
      - name: Download source
        uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: devenv
      - name: Install devenv.sh
        run: nix profile add nixpkgs#devenv
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bundle
          key: gem-${{ hashFiles('Gemfile.lock') }}
          restore-keys: gem-
      - name: Build website
        run: devenv shell make build
      - name: Test `check_html`
        run: devenv shell make check_html
