name: Build
on:
  push:
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/bundle
            tmp/.htmlproofer
          key: gem-${{ hashFiles('Gemfile.lock') }}
          restore-keys: gem-
      - name: Fetch install.sh
        if: github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository_owner == 'crystal-lang'
        run: |
          make fetch_install.sh
      - name: Build website
        run: |
          mv docker-compose.ci.yml docker-compose.override.yml
          docker-compose run --rm web /bin/bash -c "bundle check || bundle install --jobs=3"
          docker-compose run --rm web make check_html
          docker-compose run --rm web /bin/bash -c "make check_external_links || true" # allowed to fail
      - name: Configure AWS Credentials
        if: github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository_owner == 'crystal-lang'
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Deploy to www.crystal-lang.org
        if: github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository_owner == 'crystal-lang'
        run: |
          aws s3 sync ./_site s3://crystal-website --delete
          ./scripts/set-legacy-url-redirects.bash crystal-website < ./_data/legacy_non_pretty_urls.txt
